/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Actions */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Wrapper */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.wrapper {
    display: flex;
    width: 100%;
    margin: var(--space-24) var(--space-0) var(--space-0) var(--space-0);
    overflow: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.section {
    display: flex;
    flex-direction: column;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* QA */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.QA {
    display: flex;
    flex-direction: column;
    border-top: var(--border-1);
}
.QA.active {
    background-color: var(--light-red-color);
}
.QA:last-of-type {
    border-bottom: var(--border-1);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Question */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-16);
    z-index: 1;
}
.question > span {
    font-family: "Nunito Sans";
    font-size: var(--font-20);
    font-weight: 700;
    color: var(--text-placeholder-color);
    transition: color 0.3s ease-in-out;
}
.question > i {
    font-size: var(--font-20);
    color: var(--text-placeholder-color);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.QA.active > .question > * {
    color: var(--logo-orange-color);
}
.QA.active > .question > i {
    transform: rotate(90deg);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Answer */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.answer {
    max-height: 0px;
    margin: calc(var(--space-16) * -1) var(--space-0) var(--space-0) var(--space-0);
    padding: var(--space-0) var(--space-16) var(--space-16) var(--space-16);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.answer > p {
    margin: var(--space-16) var(--space-0) var(--space-0) var(--space-0);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Contact */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--space-16) var(--space-0) var(--space-0) var(--space-0);
}
.contact > p > a {
    margin: var(--space-0) var(--space-0) var(--space-0) var(--size-5);
}