.left {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background: var(--logo-blue-color);
    z-index: 9999;
}

.right {
    min-width: 60px;
    height: 100vh;
    position: fixed;
    right: 0;
    background: var(--logo-blue-color);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
}

.rightAvatarWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.company {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid #fff;
}

.initials {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--logo-blue-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    bottom: -7px;
    right: -7px;
    border: 2px solid #fff;
    color: #fff;
}

.companyName {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    color: #fff;
}

.userName {
    font-size: 1rem;
    font-weight: 800;
    color: #fff;    
    max-width: calc(200px - 2rem - 45px);
}

.spacer {
    width: 100%;
    height: 1px;
    background: #fff;
}

.blocs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blocsTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    margin-bottom: .5rem;
}

.blocsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

.bloc {
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: #fff;
    border-radius: 10px;
}

.bloc h1 {
    color: var(--logo-blue-color);
    font-size: 1.25rem;
}

.bloc p {
    color: var(--logo-blue-color);
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    opacity: 0.75;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.link {
    width: calc(100% + 1rem);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #fff;
    border-radius: 0 9999px 9999px 0;
    position: relative;
    left: -1rem;
}

.link > p {
    color: #fff;
    font-weight: bold;
}

.link > i, .icon {
    font-size: 1.25rem;
    color: #fff;
}

.link:hover {
    background-color: #fff;
    cursor: pointer;
}

.link:hover p, .link:hover i {
    color: var(--logo-blue-color);
}

.calendar {
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

.calendarButtons {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    border-radius: 5px;
    overflow: hidden;
}

.calendarButtons > i {
    font-size: 1rem;
    color: var(--text-inactive-color);
    padding: .5rem;
    background-color: var(--background-main-color);
}

.calendarButtons > i:hover {
    cursor: pointer;
    background-color: var(--background-sub-color);
}

.calendar p {
    color: var(--text-inactive-color);
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
}

.addTool {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.addTool > p, .addTool > i {
    color: #fff;
    font-size: 1rem;
}

.addTool:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

