/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px !important;
    gap: 40px !important;
    width: 100%;
    padding: 32px 32px 80px 32px;
    background-color: var(--background-sub-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer ( Sections ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    flex: 1;
    padding: 0px 16px;
}
@media screen and (max-width: 576px) {
    .section {
        width: 100%;
    }
}
.section > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
[data-theme="matrix"] .section > img {
    filter: sepia(1) hue-rotate(45deg) saturate(4);
}
.section > p:first-of-type {
    color: var(--text-inactive-color);
}
.section > h6 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito Sans";
}
.section > ul {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
}
.section > ul > li > a:hover {
    color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer ( Socials ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.socials {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}
.socials > a > i {
    font-size: 20px;
}
.socials > a:hover,
.socials > a:hover > i {
    color: var(--logo-blue-color);
}