/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer ( Sections ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.section {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
}
@media screen and (max-width: 992px) {
    .section {
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 576px) {
    .section {
        width: 100%;
    }
}
.section > h6 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito Sans";
}