/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navbar */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0px 16px;
    position: fixed;
    top: -64px;
    left: 0;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    animation: showUp 0.3s ease forwards;
    z-index: 1000;
}
.navbar::after {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: var(--background-sub-color);
}
@keyframes showUp {
    0% {
        top: -64px;
    } 100% {
        top: 0;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navbar ( Logo ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.navbar > .logo {
    display: flex;
    align-items: center;
    z-index: 1;
}
.navbar > .logo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.navbar > .logo > a > img {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
    object-fit: contain;
}
.navbar > .logo > a > span {
    font-size: 26px;
    font-weight: bold;
    font-family: "Montserrat Alternates";
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navbar ( Links ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.navbar > .links {
    display: flex;
    align-items: center;
    grid-gap: 24px;
    gap: 24px;
    height: 100%;
    z-index: 1;
}
@media screen and (max-width: 992px) {
    .navbar > .links {
        flex-direction: column;
        justify-content: center;
        grid-gap: 0px;
        gap: 0px;
        width: 100%;
        height: fit-content;
        padding: 16px;
        position: absolute;
        top: -100%;
        left: 0px;
        opacity: 0;
        pointer-events: none;
        background-color: var(--background-sub-color);
        box-shadow: var(--box-shadow);
        z-index: -1;
    }
    .navbar > .links.show {
        padding: calc(40px + (2 * 16px)) 16px 16px 16px;
        top: 100%;
        opacity: 1;
        pointer-events: all;
    }
    .navbar > .links::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--background-sub-color);
        z-index: 1;
    }
    .navbar > .links.show::before {
        opacity: 0;
        pointer-events: none;
    }
}
.navbar > .links > li {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}
@media screen and (max-width: 992px) {
    .navbar > .links > li {
        width: 100%;
    }
}
.navbar > .links > li > a,
.navbar > .links > li > button {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    border-bottom: var(--border);
    border-width: 3px;
    border-color: transparent;
    transition: border-color 0.3s ease;
}
.navbar > .links > li > a.active,
.navbar > .links > li > button.active {
    border-color: var(--logo-blue-color);
}
.navbar > .links > li > a.active > span,
.navbar > .links > li > button.active > span {
    font-weight: bold;
    color: var(--logo-blue-color);
}
.navbar > .links > li > a:only-child:hover {
    border-color: var(--logo-blue-color);
}
.navbar > .links > li > a + ul.show,
.navbar > .links > li > button + ul.show,
.navbar > .links > li > a + ul.show,
.navbar > .links > li > button + ul.show {
    opacity: 1;
    pointer-events: all;
}
@media screen and (max-width: 992px) {
    .navbar > .links > li {
        display: flex;
        flex-direction: column;
    }
    .navbar > .links > li > a,
    .navbar > .links > li > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navbar ( Nested Links ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.navbar > .links > li > ul {
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: absolute;
    top: calc(64px - 5px);
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    border-top: var(--border);
    border-width: 5px;
    border-color: var(--logo-blue-color);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.navbar > .links > li > ul > li + li {
    border-top: var(--border);
}
.navbar > .links > li > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    white-space: nowrap;
}
.navbar > .links > li > ul > li > a:hover > span,
.navbar > .links > li > ul > li > button:hover > span {
    color: var(--logo-blue-color);
}
.navbar > .links > li > ul > li > a.active > span,
.navbar > .links > li > ul > li > button.active > span {
    font-weight: bold;
    color: var(--logo-blue-color);
}
@media screen and (max-width: 992px) {
    .navbar > .links > li > ul {
        flex-direction: column;
        width: 100%;
        max-height: 0px;
        padding: 0px;
        position: initial;
        opacity: 0;
        border-top: var(--border);
        border-radius: inherit;
        box-shadow: inherit;
        overflow: hidden;
    }
    .navbar > .links > li > ul.show {
        opacity: 1;
        max-height: max-content;
    }
    .navbar > .links > li > ul > li + li {
        border-top: none;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navbar ( Actions ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.navbar > .actions {
    display: flex;
    align-items: center;
    grid-gap: 24px;
    gap: 24px;
    z-index: 1;
}
@media screen and (max-width: 992px) {
    .navbar > .actions {
        position: absolute;
        top: calc(64px + 16px);
        right: 16px;
        opacity: 0;
        pointer-events: none;
    }
    .navbar > .links.show + .actions {
        opacity: 1;
        pointer-events: all;
    }
}
.navbar > .actions > [class*="selectField"] {
    min-width: 80px;
}
.navbar > .actions > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar > .actions > a > i {
    font-size: 24px;
    color: var(--logo-blue-color);
}