.layout__navbar>a,
.layout__navbar>svg {
    cursor: pointer;
}

.layout__navbar {
    width: 100%;
    height: 80px;
    box-shadow: var(--box-shadow);
    background-color: rgb(var(--background-sub-color));
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-family: 'Open Sans', sans-serif;
}

.layout__navbar .navbar-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.layout__navbar .navbar-links .navbar-link {
    padding: 0.625rem 0.5rem;
    color: #232324;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
    margin-left: 8px;
}

.layout__navbar .navbar-links .navbar-link:hover {
    font-weight: bold;
    color: #232324;
}

.layout__navbar .navbar-cta {
    display: inline;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.layout__navbar .navbar-lang-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout__navbar .navbar-lang-select-current {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background: #27292f;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 1.25px;
    z-index: 10;
    padding: 0.4rem 1.1rem;
    border-radius: 100px;
}

.layout__navbar .navbar-lang-select-current>span,
.layout__navbar .navbar-lang-select-current>i {
    color: #fff;
}

.layout__navbar .navbar-lang-select-current>i {
    margin-left: 8px;
}

.layout__navbar .navbar-lang-select .navbar-lang-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 2.5rem;
    background-color: rgb(var(--background-sub-color));
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    display: none;
    user-select: none;
    cursor: pointer;
}

.layout__navbar .navbar-lang-select .navbar-lang-dropdown:hover {
    background-color: #ccc;
}

.layout__navbar .navbar-lang-select .navbar-lang-dropdown>li {
    margin-left: 1em;
    margin-bottom: .2em;
    font-weight: 600;
    z-index: 10;
}

.layout__navbar .navbar-login {
    font-size: 2em;
    margin: 0 .8em;
    color: rgb(0, 109, 255);
    display: flex;
}


.layout__navbar .navbar-tooltip {
    position: absolute;
    top: 80%;
    color: rgb(var(--main-color));
    background-color: rgb(var(--background-sub-color));
    border-radius: 5px;
    padding: .2em .5em;
    box-shadow: var(--box-shadow);
    display: none;
}

.layout__navbar .navbar-hamburger {
    display: none;
}

@media only screen and (max-width: 992px) {
    .layout__navbar .navbar-links {
        display: none;
    }

    .layout__navbar .navbar-cta {
        display: none;
    }

    .layout__navbar .navbar-hamburger {
        display: block;
    }

    .layout__navbar .navbar-hamburger .navbar-hamburger-toggle>i {
        font-size: 1.5em;
        color: rgb(var(--main-color));
    }

    .layout__navbar .navbar-hamburger .navbar-hamburger-links {
        width: 100vw;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        box-shadow: var(--box-shadow);
        margin: 0;
        padding: 0;
    }

    .layout__navbar .navbar-hamburger .navbar-hamburger-links::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgb(var(--main-color));
        z-index: 10;
    }

    .layout__navbar .navbar-hamburger .navbar-hamburger-links .navbar-hamburger-link {
        padding: 0;
        width: 100%;
        text-align: center;
        margin: 1em 0;
        user-select: none;
        cursor: pointer;
        color: #232324;
    }

    .layout__navbar .navbar-hamburger .navbar-hamburger-links .navbar-hamburger-link-cta {
        padding: 0;
        text-align: center;
        margin: 1em 0;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .layout__navbar .navbar-hamburger .navbar-hamburger-links .navbar-hamburger-link:hover {
        font-weight: 900;
        color: #232324;
    }


    .layout__navbar .navbar-hamburger-lang-select {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

    }

    .layout__navbar .navbar-hamburger .navbar-lang-select-current {
        position: relative;
        z-index: 9999;
    }

    .layout__navbar .navbar-hamburger .navbar-lang-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 2.5rem;
        background-color: rgb(var(--background-sub-color));
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        display: none;
        user-select: none;
        cursor: pointer;
    }

    .layout__navbar .navbar-hamburger-lang-select .navbar-lang-dropdown:hover {
        background-color: #ccc;
    }

    .layout__navbar .navbar-hamburger-lang-select .navbar-lang-dropdown>li {
        margin-left: 1em;
        margin-bottom: .2em;
        font-weight: 600;
    }
}