/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Primary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.primary {
    width: fit-content;
    padding: 4px;
    color: var(--logo-blue-color);
    font-size: 12px;
    border-radius: 4px;
    background-color: var(--light-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Secondary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.secondary {
    
}