/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* List */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.list {
    display: flex;
    flex-wrap: wrap;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Primary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.primary {
    width: fit-content;
    padding: var(--space-8);
    color: var(--logo-blue-color);
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--light-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Secondary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.secondary {
    width: fit-content;
    max-width: 150px;
    padding: var(--space-8);
    color: var(--logo-blue-color);
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--pastel-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Colors */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.type1 {
    color: var(--perfect-white-color);
    background-color: var(--project-color);
}
.type2 {
    color: var(--perfect-white-color);
    background-color: var(--event-color);
}
.type3 {
    color: var(--perfect-black-color);
    background-color: var(--program-color);
}
.type4 {
    color: var(--perfect-black-color);
    background-color: var(--offer-color);
}
.type5 {
    color: var(--perfect-black-color);
    background-color: var(--challenge-color);
}