/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Line */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--separator-color);
}
.line + .line {
    display: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Horizontal */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.horizontal {
    min-width: 20px;
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    margin: var(--space-16) 0px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Vertical */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.vertical {
    min-width: 1px;
    width: 1px;
    max-width: 1px;
    min-height: 20px;
    margin: 0px var(--space-16);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Or */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.or > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    color: var(--separator-color);
    text-transform: uppercase;
    border-radius: 100px;
    background-color: var(--background-sub-color);
}