/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: calc(50px - var(--space-16));
    background-color: var(--background-sub-color);
}
@media screen and (max-width: 576px) {
    .footer,
    .footer > [class="boxedContent"] {
        padding: 0px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Footer ( Sections ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--background-sub-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Footer ( Section ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.section {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 576px) {
    .section {
        width: 100%;
    }
}
.section > img {
    width: 50px !important;
    height: 50px !important;
    position: inherit !important;
    object-fit: contain;
    margin-bottom: var(--space-16);
}
.section > p {
    color: var(--text-placeholder-color);
}
.section > p:last-of-type {
    margin-top: var(--space-16);
}
.section > h6 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito Sans";
}
.section > ul {
    display: flex;
    flex-direction: column;
}
.section > ul > li + li {
    margin-top: var(--space-8);
}
.section > ul > li > a[class*="action"] > span {
    text-transform: inherit;
    color: var(--text-placeholder-color);
    white-space: break-spaces;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Footer ( Socials ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.socials {
    display: flex;
    align-items: center;
    margin: var(--space-16) 0px;
}
.socials > * + * {
    margin-left: var(--space-8);
}
.socials > a > i {
    font-size: 20px;
}