/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Activities ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.activities {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.activities > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Activities ( List ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 16px;
}