/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Ecosystem ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.ecosystem {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ecosystem > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Ecosystem ( Content ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.content > .label,
.content > .wishlist > .label {
    margin: 0px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
}
.content > .wishlist > .label {
    margin: 16px 0px 8px 0px;
}
.content > .wishlist > .label > i {
    margin: 0px 8px 0px 0px;
    color: var(--error-color);
}
.content > p:not(.label) {
    margin: 0px;
}
.content > button {
    width: fit-content;
    margin: 16px 0px 0px auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Ecosystem ( List ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0px 0px 0px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}