/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Ecosystem ( Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.ecosystem {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}
.ecosystem > h3 {
    font-size: 24px;
    font-weight: 800;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Ecosystem ( Content ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.content {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.content > div[class*="grid"] > a {
    max-height: 200px;
}
.content > div[class*="grid"] > a > * {
    min-height: inherit;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Ecosystem ( Label ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.label {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
}
.label > i {
    color: var(--error-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Ecosystem ( Wishlist ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.wishlist {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
}