/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Goals ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.goals {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.goals > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Goals ( Content ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px 0px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.content > p:last-of-type {
    margin: 8px 0px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Goals ( Label ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.label {
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--text-inactive-color));
}