/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Offer ( Profile ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.offer {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}
@media screen and (max-width: 990px) {
    .offer {
        margin: 16px 0px 0px 0px;
    }
}
.offer > h3 {
    font-size: 24px;
    font-weight: 800;
}
.offer > .content {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    min-height: 250px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.offer > .content > .label {
    font-weight: bold;
    font-size: 16px;
}