/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Opportunities ( Container ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}
.container > h3 {
    font-size: 24px;
    font-weight: 800;
}
.container > button {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.container > button > .dot {
    min-width: 8px;
    width: 8px;
    min-height: 8px;
    height: 8px;
    border-radius: 10px;
}
.container > button[data-state="Online"] > .dot {
    background-color: var(--success-color);
}
.container > button[data-state="Draft"] > .dot {
    background-color: var(--warning-color);
}
.container > button[data-state="Finished"] > .dot {
    background-color: var(--error-color);
}
.container > button[data-state] > span {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 24px;
    white-space: nowrap;
}
.container > button[data-state] > i[class*="expanded"] {
    transform: rotate(90deg);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Opportunities ( Opportunities ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.opportunities {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    max-height: 0px;
    overflow: hidden;
}
.opportunities[class*="expanded"] {
    max-height: max-content;
    overflow: inherit;
}