/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Opportunities ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.opportunities {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.opportunities > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
.opportunities > button {
    display: flex;
    align-items: center;
    margin: 0px 0px 8px 16px;
}
.opportunities > button > * + * {
    margin: 0px 0px 0px 16px;
}
.opportunities > button > .dot {
    min-width: 8px;
    width: 8px;
    min-height: 8px;
    height: 8px;
    border-radius: 10px;
}
.opportunities > button[data-status="Online"] > .dot {
    background-color: var(--success-color);
}
.opportunities > button[data-status="Draft"] > .dot {
    background-color: var(--warning-color);
}
.opportunities > button[data-status="Finished"] > .dot {
    background-color: var(--error-color);
}
.opportunities > button[data-status] > span {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 24px;
    white-space: nowrap;
}
.opportunities > button[data-status] > i {
    
}
.opportunities > button[data-status] > i[class*="expanded"] {
    transform: rotate(90deg);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Opportunities ( List ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0px;
    margin: 8px 0px 0px 0px;
    position: relative;
    overflow: hidden;
}
.list[class*="expanded"] {
    height: max-content;
    overflow: inherit;
}
.list > button {
    margin: 16px 0px 16px auto;
}
.list > button:last-of-type {
    margin: 16px 0px 0px auto;
}