/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Overview ( Profile ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.overview {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.overview > h4 {
    margin: 0px;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 800;
}
.overview > .details {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
}
.overview > .details > .label {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}
.overview > .details > .location,
.overview > .details > .website,
.overview > .details > .networks {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px; 
}
.overview > .details > .website > a {
    font-weight: bold;
    color: var(--logo-blue-color);
    text-decoration: underline;
}
.overview > .details > .networks > a:hover > i {
    color: var(--logo-blue-color);
}