/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Partners ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.partners {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.partners > p:not(.label) {
    margin: 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Partners ( Label ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.label {
    margin: 0px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
}
.label > i {
    margin: 0px 8px 0px 0px;
    color: var(--error-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Partners ( List ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0px 0px 0px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}