/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Partners ( Container ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.partners {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.partners > p:not(.label) {
    margin: 0px;
}
.partners > button {
    margin: 16px 0px auto auto;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Partners ( Label ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.label {
    margin: 0px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
}
.label:only-of-type {
    margin: 0px;
}
.label > i {
    margin: 0px 8px 0px 0px;
    color: var(--error-color);
}