/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Products ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.products {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}
.products > .label {
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--text-inactive-color));
}
.products > button {
    width: fit-content;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Products ( List ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}