/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Targets ( Profile ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.targets {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.targets > .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.targets > .details > div {
    display: flex;
    flex: 1;
}
.targets > .details > div > .label {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}