/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Team ( Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.team {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}
.team > h3 {
    font-size: 24px;
    font-weight: 800;
}