/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Team ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.team {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.team > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
.team > button {
    width: fit-content;
    margin: 16px 0px 0px auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Team ( List ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0px 0px 0px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}