#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* Dependencies *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
/node_modules
/.pnp
.pnp.js
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* Testing *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
/coverage
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* NextJS *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
/.next/
/out/
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* Miscellaneous *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
.DS_Store
*.pem
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* Debug Files *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* Deployment, Temporary And Environment Files And Folders *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
.htaccess
.vercel
.env*.local
*.tsbuildinfo
next-env.d.ts
tmp.*
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
#* Forinov Customs *#
#* ------------------------------------------------------------------------------------------------------------------------------------------------ *#
production/
notes/
temp/
analyze/