.searchbar {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #12263f;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    border: none;
    background: none;
    scroll-behavior: smooth;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff !important;
    box-shadow: 0 0.5rem 1rem rgba(18, 38, 63, 0.15) !important;
    padding: 0.75rem !important;
    border-radius: 15px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.link {
    font-size: clamp(1rem, 5vw, 14px);
    text-transform: capitalize;
    cursor: pointer;
}


.link:hover {
    text-decoration: underline;
    font-weight: 700;
}

.link_active {
    text-decoration: underline;
    font-weight: 700;
    user-select: none;
}