/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Breadcrumb ( Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    margin: 0px 16px;
}
.container > i {
    font-size: 10px;
}