/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Breadcrumb ( Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
    display: flex;
    align-items: center;
    margin: 0px var(--space-16);
}
.container > i {
    font-size: 10px;
}
.container > * + * {
    margin: 0px 0px 0px var(--space-8);
}