.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 75vh;
    position: relative;
}

.heroTitle {
    text-align: left!important;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #006dff;
    margin-top: 5.5rem;
}

.heroImg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    background-color: var(--lighter-black-color);
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.bannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

.title {
    font-size: clamp(2rem, 5vw, 2.8125rem);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.34px;
    color: #ffffff;
    text-align: center;
}

.paragraph {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    text-align: center;
    color: #ffffff;
}

.descriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 2rem;
    position: relative;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #232324;
    width: 50%;
}

.descriptionImg {
    width: fit-content;
    height: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
    scale: 1.2;
}

.banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9rem 0;
    background-color: var(--lighter-black-color);
    border-radius: 0 0 50px 50px;
    margin-bottom: 5rem;
}
.bannerText2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 0 2rem;
}

.bannerCta {
    padding: 1rem 2rem;
    background-color: var(--perfect-white-color);
    border: 1px solid var(--perfect-white-color);
    border-radius: 20px;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}

.bannerCta:hover {
    background: transparent;
    color: var(--perfect-white-color);
    transform: translateY(-5px);
}

@media screen and (max-width: 991px) {
    .descriptionContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .description {
        width: 100%;
    }

    .descriptionImg {
        position: relative;
        width: 50%;
        object-fit: contain;
        z-index: 2;
        scale: 1;
    }

    .banner2 {
        position: relative;
        top: -9rem;
    }
}