/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Deals ( Categories ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.categories {
    display: flex;
    align-items: center;
    grid-gap: 24px;
    gap: 24px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.categories > a > span {
    white-space: nowrap;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Deals ( Catch ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.catch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}
.catch > h1 {
    font-size: 36px;
    font-family: "Nunito Sans";
    color: var(--logo-blue-color);
    text-transform: uppercase;
}
.catch > p {
    color: var(--text-inactive-color);
    text-align: center;
}