/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Directory ( Signup ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--logo-blue-color);
}
.signup > i {
    font-size: 32px;
    color: var(--perfect-white-color);
}
.signup > p {
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: var(--perfect-white-color);
}