/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Folders ( Title ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title > h1 {
    font-family: "Nunito Sans";
	font-size: 45px;
	font-weight: 900;
	text-align: center;
}
.title > p {
    color: var(--text-inactive-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Folders ( Description ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.description {
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Folders ( More Folders ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.moreFolders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-information-color);
    overflow: hidden;
}
.moreFolders > p {
    color: var(--perfect-black-color);
    font-size: 16px;
    font-weight: 600;
}