/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation {
	display: flex;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.presentation {
		padding: 16px;
	}
}
.presentation::before,
.presentation::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.presentation > img {
	width: 500px;
	height: 500px;
	object-fit: contain;
}
@media screen and (max-width: 992px) {
	.presentation > img {
		display: none;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation For Home ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="home"]::before {
	background-color: var(--background-sub-color);
}
.presentation[data-type="home"]::after {
	border-radius: 0px 0px 100px 0px;
	background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
	.presentation[data-type="home"]::after {
		border-radius: 0px 0px 50px 0px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation For Startup ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="startup"]::before {
	background-color: var(--background-main-color);
}
.presentation[data-type="startup"]::after {
	border-radius: 0px 0px 100px 0px;
	background-color: var(--lightred-color);
}
@media screen and (max-width: 576px) {
	.presentation[data-type="startup"]::after {
		border-radius: 0px 0px 50px 0px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation For Corporation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="corporation"]::before {
	background-color: var(--background-main-color);
}
.presentation[data-type="corporation"]::after {
	border-radius: 0px 0px 0px 100px;
	background-color: var(--lightblue-color);
}
@media screen and (max-width: 576px) {
	.presentation[data-type="corporation"]::after {
		border-radius: 0px 0px 0px 50px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation For Partner ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="partner"]::before {
	background-color: var(--background-main-color);
}
.presentation[data-type="partner"]::after {
	border-radius: 0px 0px 0px 100px;
	background-color: var(--lightgreen-color);
}
@media screen and (max-width: 576px) {
	.presentation[data-type="partner"]::after {
		border-radius: 0px 0px 0px 50px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation For Opportunity ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="opportunity"]::before {
	background-color: var(--background-main-color);
}
.presentation[data-type="opportunity"]::after {
	border-radius: 0px 0px 100px 0px;
	background-color: var(--light-grey-color);
}
@media screen and (max-width: 576px) {
	.presentation[data-type="opportunity"]::after {
		border-radius: 0px 0px 50px 0px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Content ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentationContent {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
}
.presentationContent > h1 {
	font-family: "Nunito Sans";
	font-size: 65px;
	font-weight: 600;
}
.presentationContent > p {
	font-family: "Nunito Sans";
	font-size: 24px;
}
@media screen and (max-width: 576px) {
	.presentationContent > h1,
	.presentationContent > p {
		text-align: center;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Content For Home ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="home"] > .presentationContent > h1,
.presentation[data-type="home"] > .presentationContent > p {
	color: var(--text-main-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Content For Startup ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="startup"] > .presentationContent > h1,
.presentation[data-type="startup"] > .presentationContent > p {
	color: var(--sunred-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Content For Corporation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="corporation"] > .presentationContent > h1,
.presentation[data-type="corporation"] > .presentationContent > p {
	color: var(--pureblue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Content For Partner ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="partner"] > .presentationContent > h1,
.presentation[data-type="partner"] > .presentationContent > p {
	color: var(--grassgreen-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Content For Opportunity ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation[data-type="opportunity"] > .presentationContent > h1,
.presentation[data-type="opportunity"] > .presentationContent > p {
	color: var(--perfect-black-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Presentation Links ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentationLinks {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	width: max-content;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Onboarding ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.onboarding {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.onboarding {
		padding: 16px;
	}
}
.onboarding::before,
.onboarding::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.onboarding > h3 {
	font-family: "Nunito Sans";
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}
.onboarding > p {
	font-family: "Nunito Sans";
	font-size: 21px;
	text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Onboarding For Home ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.onboarding[data-type="home"]::before {
	background-color: var(--background-main-color);
}
.onboarding[data-type="home"]::after {
	border-radius: 100px 0px 0px 100px;
	background-color: var(--background-sub-color);
}
@media screen and (max-width: 576px) {
	.onboarding[data-type="home"]::after {
		border-radius: 50px 0px 0px 50px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Onboarding Types ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.types {
	display: flex;
	justify-content: center;
	grid-gap: 32px;
	gap: 32px;
}
@media screen and (max-width: 768px) {
	.types {
		flex-direction: column;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Onboarding Type ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.type {
	display: flex;
	flex-direction: column;
	flex: 1;
	grid-gap: 32px;
	gap: 32px;
	padding: 16px;
	border-radius: 15px;
	background-color: var(--background-sub-color);
	box-shadow: var(--box-shadow);
}
.type > .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	gap: 16px;
}
.type > .head > i {
	font-size: 56px;
}
.type[data-type="startup"] > .head > i {
	color: var(--logo-orange-color);
}
.type[data-type="corporation"] > .head > i {
	color: var(--logo-blue-color);
}
.type[data-type="partner"] > .head > i {
	color: var(--logo-green-color);
}
.type > .head > div > h5 {
	font-family: "Nunito Sans";
	font-size: 24px;
}
.type[data-type="startup"] > .head > div > h5 {
	color: var(--logo-orange-color);
}
.type[data-type="corporation"] > .head > div > h5 {
	color: var(--logo-blue-color);
}
.type[data-type="partner"] > .head > div > h5 {
	color: var(--logo-green-color);
}
.type > .head > div > p {
	color: var(--text-inactive-color);
}
.type > .body {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
}
.type > .footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 8px;
	gap: 8px;
	margin: auto 0px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Sourcing ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.sourcing {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.sourcing {
		padding: 16px;
	}
}
.sourcing::before,
.sourcing::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.sourcing > h3 {
	font-family: "Nunito Sans";
	font-size: 48px;
	font-weight: 300;
	text-align: center;
}
.sourcing > p {
	font-family: "Nunito Sans";
	font-size: 21px;
	text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Sourcing For Startup ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.sourcing[data-type="startup"]::before {
	background-color: var(--lightred-color);
}
.sourcing[data-type="startup"]::after {
	border-radius: 100px 0px 0px 0px;
	background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
	.sourcing[data-type="startup"]::after {
		border-radius: 50px 0px 0px 0px;
	}
}
.sourcing[data-type="startup"] button {
	background-color: var(--palered-color);
}
.sourcing[data-type="startup"] button > i {
	color: var(--logo-orange-color);
}
.sourcing[data-type="startup"] button[class="active"] {
	background-color: var(--logo-orange-color);
}
.sourcing[data-type="startup"] button[class="active"] > i {
	color: var(--perfect-white-color);
}
.sourcing[data-type="startup"] div[class="separatorVertical"] {
	background-color: var(--logo-orange-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Sourcing For Corporation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.sourcing[data-type="corporation"]::before {
	background-color: var(--background-main-color);
}
.sourcing[data-type="corporation"]::after {
	border-radius: 100px 0px 0px 0px;
	background-color: var(--lightblue-color);
}
@media screen and (max-width: 576px) {
	.sourcing[data-type="corporation"]::after {
		border-radius: 50px 0px 0px 0px;
	}
}
.sourcing[data-type="corporation"] *:not([class*="callToAction"], i) {
	color: var(--perfect-black-color);
}
.sourcing[data-type="corporation"] button {
	background-color: var(--paleblue-color);
}
.sourcing[data-type="corporation"] button > i {
	color: var(--logo-blue-color);
}
.sourcing[data-type="corporation"] button[class="active"] {
	background-color: var(--logo-blue-color);
}
.sourcing[data-type="corporation"] button[class="active"] > i {
	color: var(--perfect-white-color);
}
.sourcing[data-type="corporation"] div[class="separatorVertical"] {
	background-color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Sourcing For Opportunity ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.sourcing[data-type="opportunity"]::before {
	background-color: var(--light-grey-color);
}
.sourcing[data-type="opportunity"]::after {
	border-radius: 100px 0px 0px 0px;
	background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
	.sourcing[data-type="opportunity"]::after {
		border-radius: 50px 0px 0px 0px;
	}
}
.sourcing[data-type="opportunity"] button {
	background-color: var(--perfect-white-color);
}
.sourcing[data-type="opportunity"] button > i {
	color: var(--perfect-black-color);
}
.sourcing[data-type="opportunity"] button[class="active"] {
	background-color: var(--light-grey-color);
}
.sourcing[data-type="opportunity"] button[class="active"] > i {
	color: var(--perfect-black-color);
}
.sourcing[data-type="opportunity"] div[class="separatorVertical"] {
	background-color: var(--light-grey-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Opportunity ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.opportunity {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.opportunity {
		padding: 16px;
	}
}
.opportunity::before,
.opportunity::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.opportunity > h4 {
	font-family: "Nunito Sans";
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Register ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.register {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.register {
		padding: 16px;
	}
}
.register::before,
.register::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.register > h3 {
	font-family: "Nunito Sans";
	font-size: 45px;
	font-weight: 300;
	text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Register For Corporation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.register[data-type="corporation"]::before {
	background-color: var(--lightblue-color);
}
.register[data-type="corporation"]::after {
	border-radius: 0px 100px 0px 0px;
	background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
	.register[data-type="corporation"]::after {
		border-radius: 0px 50px 0px 0px;
	}
}
.register[data-type="corporation"] [class*="steps"] > button[class*="active"] {
	color: var(--perfect-white-color);
	border-color: var(--pureblue-color);
	background-color: var(--pureblue-color);
}
.register[data-type="corporation"] [class*="steps"] > button:hover {
	color: var(--pureblue-color);
	border-color: var(--lightblue-color);
	background-color: var(--lightblue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Register For Partner ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.register[data-type="partner"]::before {
	background-color: var(--lightgreen-color);
}
.register[data-type="partner"]::after {
	border-radius: 0px 100px 0px 0px;
	background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
	.register[data-type="partner"]::after {
		border-radius: 0px 50px 0px 0px;
	}
}
.register[data-type="partner"] [class*="steps"] > button[class*="active"] {
	color: var(--perfect-white-color);
	border-color: var(--grassgreen-color);
	background-color: var(--grassgreen-color);
}
.register[data-type="partner"] [class*="steps"] > button:hover {
	color: var(--grassgreen-color);
	border-color: var(--lightgreen-color);
	background-color: var(--lightgreen-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Startups ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.startups {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.startups {
		padding: 16px;
	}
}
.startups::before,
.startups::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.startups > h4 {
	font-family: "Nunito Sans";
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Companies ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.companies {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.companies {
		padding: 16px;
	}
}
.companies::before,
.companies::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.companies > h4 {
	font-family: "Nunito Sans";
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}
.companies > p {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Companies For Corporation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.companies[data-type="corporation"]::before {
	background-color: var(--lightblue-color);
}
.companies[data-type="corporation"]::after {
	border-radius: 0px 0px 100px 0px;
	background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
	.companies[data-type="corporation"]::after {
		border-radius: 0px 0px 50px 0px;
	}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Questions ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.questions {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: 80px;
}
@media screen and (max-width: 576px) {
	.questions {
		padding: 16px;
	}
}
.questions::before,
.questions::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.questions > h5 {
	font-family: "Nunito Sans";
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}
.questions > [data-carousel] {
	overflow: hidden;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Questions For Startup ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.questions[data-type="startup"] button[class*="active"] {
	color: var(--sunred-color);
	border-color: var(--lightred-color);
	background-color: var(--lightred-color);
}
.questions[data-type="startup"] div[class*="active"] {
	background-color: var(--lightred-color);
}
.questions[data-type="startup"] div[class*="active"] > button,
.questions[data-type="startup"] div[class*="active"] > button > i {
	color: var(--sunred-color);
}
.questions[data-type="startup"] div[class*="active"] > div {
	color: var(--perfect-black-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Questions For Corporation ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.questions[data-type="corporation"] button[class*="active"] {
	color: var(--pureblue-color);
	border-color: var(--lightblue-color);
	background-color: var(--lightblue-color);
}
.questions[data-type="corporation"] div[class*="active"] {
	background-color: var(--lightblue-color);
}
.questions[data-type="corporation"] div[class*="active"] > button,
.questions[data-type="corporation"] div[class*="active"] > button > i {
	color: var(--pureblue-color);
}
.questions[data-type="corporation"] div[class*="active"] > div {
	color: var(--perfect-black-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Questions For Partner ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.questions[data-type="partner"] button[class*="active"] {
	color: var(--grassgreen-color);
	border-color: var(--lightgreen-color);
	background-color: var(--lightgreen-color);
}
.questions[data-type="partner"] div[class*="active"] {
	background-color: var(--lightgreen-color);
}
.questions[data-type="partner"] div[class*="active"] > button,
.questions[data-type="partner"] div[class*="active"] > button > i {
	color: var(--grassgreen-color);
}
.questions[data-type="partner"] div[class*="active"] > div {
	color: var(--perfect-black-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Questions For Opportunity ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.questions[data-type="opportunity"] button[class*="active"] {
	color: var(--perfect-black-color);
	border-color: var(--light-grey-color);
	background-color: var(--light-grey-color);
}
.questions[data-type="opportunity"] div[class*="active"] {
	background-color: var(--light-grey-color);
}
.questions[data-type="opportunity"] div[class*="active"] > button,
.questions[data-type="opportunity"] div[class*="active"] > button > i {
	color: var(--perfect-black-color);
}
.questions[data-type="opportunity"] div[class*="active"] > div {
	color: var(--perfect-black-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Actions ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.actions {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	gap: 16px;
}
.actions[data-justify="left"] {
	justify-content: flex-start;
}
.actions[data-justify="center"] {
	justify-content: center;
}
.actions[data-justify="right"] {
	justify-content: flex-end;
}