.container {
    width: 100vw;
    height: fit-content;
    height: calc(100vh - 5px);
    background-color: #f8f7f6;
    margin-left: auto;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #B2D1FF;
    position: relative;
    overflow-x: hidden;
    border-radius: 0 0 0 10rem;
}

.text {
    width: 75%;
    margin: 0 auto;
    margin-top: 6rem;
}

.title {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left !important;
    color: #006DFF;
    font-family: "Nunito Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: clamp(3rem, 5vw, 64px);
    font-weight: 700;
    width: 50%;
}

.paragraph {
    font-weight: 400;
    pointer-events: auto;
    text-align: left !important;
    box-sizing: border-box;
    color: #006DFF;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.6px;
    font-size: clamp(1.5rem, 2vw, 24px);
    line-height: 1.4;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.toVideo {
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.8125rem 1.25rem;
    line-height: 1.6;
    transition: all .15s ease-in-out;
    background-color: #006DFF;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(1rem, 5vw, 19px);
}

.toVideo:hover {
    background-color: #FFF;
    outline: 1px solid #006DFF;
    color: #006DFF;
}

.artwork {
    max-width: 50%;
    position: absolute;
    right: 5em;
    bottom: 5rem;
}

.container2 {
    width: 100vw;
    background-color: #B2D1FF;
    margin-left: auto;
    margin: 0 !important;
}

.section2 {
    border-radius: 0 10rem 10rem 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f7f6;
    position: relative;
    overflow-x: hidden;
}

.getStarted {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center !important;
    font-family: "Nunito Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -1.02px;
    color: #232324;
    font-size: 48px;
    font-weight: 700;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 75%;
    height: 100px;
    position: relative;
}

.steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #006DFF;
    z-index: 0;
}

.step {
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding: 0.75rem !important;
    border: 2px solid #57595d;
    color: #57595d;
    transition: ease-in-out 0.2s;
    border-radius: 50px;
    margin: 0px 3px;
    font-size: 19px !important;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    background-color: #f8f7f6;
    position: relative;
    z-index: 1;
    outline: 2px solid #f8f7f6;
}

.step:hover {
    background-color: #B2D1FF;
    border: 2px solid transparent;
    color: #006DFF;
}

.step:focus {
    outline: inherit;
}



.carousel_wrapper {
    width: 75%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.carousel {
    width: 400%;
    height: 300px;
    display: flex;
    transform: translateX(0%);
    transition: transform .75s cubic-bezier(0.54, -0.56, 0, 1);
}

.carousel_item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    overflow-x: hidden;
    padding: 1rem 0;
}

.carousel_item>ul {
    padding: 0;
    margin: 0;
    width: 45%;
}

.carousel_item>ul>li {
    margin-left: 3.5rem;
    list-style: disc;
}

.carousel_item>ul>h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
}

.carousel_item>img {
    width: 45%;
    height: 100%;
    object-fit: cover;
}

.companiesTitle {
    margin-top: 6rem;
    margin-bottom: .5rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -1.02px;
    color: #232324;
    font-size: 48px;
    width: 75%;
    text-align: center;
}

.companies {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.companyItem {
    width: 150px;
    height: 50px;
    padding: .1875rem .375rem;
    object-fit: contain;
    background-color: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.companyTooltip {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 0.5rem;
}

.ctaWrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.subtitle {
    color: #161c2d;
    text-align: center !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .5rem;
    letter-spacing: -.01em;
    line-height: 1.45;
    font-family: "Nunito Sans", sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.container3 {
    width: 100vw;
    background-color: #f8f7f6;
    margin-left: auto;
    margin: 0 !important;
}

.section3 {
    border-radius: 10rem 0 0 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #B2D1FF;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 12rem;
}


.timelineTitle {
    text-align: center !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .25rem !important;
    font-family: "Nunito Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -1.02px;
    color: #232324;
    font-size: 48px;
    font-weight: 400;
}

.timelineText {
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: center !important;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-size: 21px;
}

.timeline {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #006DFF;
}

.timelineItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timelineItem>img {
    width: 50%;
    padding: 4rem;
}

.tlItemContent {
    width: 50%;
    padding: 4rem;
}

.timelineItem .tlItemContent>h1 {
    text-align: left;
    -webkit-box-direction: normal !important;
    box-sizing: border-box;
    margin-bottom: .75rem !important;
    font-family: "Nunito Sans", sans-serif;
    color: #595959;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.timeline .tlItemContent>p {
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    -webkit-box-direction: normal !important;
    box-sizing: border-box;
    color: #232324;
    font-size: 16px;
}

.tlStep {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    -webkit-box-direction: normal !important;
    box-sizing: border-box;
    background-color: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .1) !important;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: calc(100% - 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tlStep>i {
    font-size: 1.5rem;
    color: #006DFF;
}

.tlStepComplete {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    -webkit-box-direction: normal !important;
    box-sizing: border-box;
    background-color: #006DFF !important;
    border-radius: 50% !important;
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .1) !important;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: calc(100% - 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tlStepComplete>i {
    font-size: 1.5rem;
    color: #fff;
}

.section4 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f7f6;
    position: relative;
    overflow-x: hidden;
}

.lastOpsTitle {
    text-align: center !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -1.02px;
    color: #232324;
    font-size: 42px;
    margin-top: 12rem;
}

.lastOps {
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
    padding: 1rem 0;
}

.innerSlider {
    margin: 0 calc(50vw - 250px);
    width: fit-content;
    display: flex;
    gap: 3rem;
    top: 0;
    left: 0;
}

.card {
    width: 500px;
    height: 570px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 7%);
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.joinCard {
    width: 500px;
    height: 570px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 7%);
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.cardBanner {
    width: 100%;
    height: 170px;
    position: relative;
}

.cardBanner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent {
    padding: 1rem 1.5rem;
    width: 100%;
    height: calc(100% - 170px);
    display: flex;
    justify-content: space-between;
}

.cardAvatarWrapper {
    width: 100px;
    height: 100%;
    display: flex;
}

.cardAvatar {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    font-family: "Open Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: grab;
    pointer-events: auto;
    -webkit-box-direction: normal !important;
    text-align: left !important;
    box-sizing: border-box;
    vertical-align: middle;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: solid 2px #006dff;
}

.opportCTA {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.opportCTA:hover {
    transform: scale(1.1);
}

.cardDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.suName {
    font-family: "Open Sans", sans-serif;
    font-size: .85rem;
    letter-spacing: 0.4px;
    color: #006dff;
    margin-bottom: 2rem;
}

.opportTitle {
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0.6px;
    color: #232324;
    margin-bottom: 3rem;
}

.opportVisibility {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    font-weight: normal;
    color: #595959;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

.opportVisibility>i {
    margin-right: 0.5rem;
}

.opportType {
    color: white;
    width: fit-content;
    font-family: "Open Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: grab;
    pointer-events: auto;
    -webkit-box-direction: normal !important;
    box-sizing: border-box;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    margin-right: .5rem !important;
    border-radius: 5px;
    background-color: rgb(49, 167, 116);
    font-size: 16px;
    margin-bottom: 1rem;
}

.opportRemaining {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.4px;
    font-weight: normal;
    color: #595959;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.opportRemaining>i {
    margin-right: 0.5rem;
}

.opportDescription {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #232324;
}

.collapseWrapper {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.collapseTitle {
    text-align: center !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1.5rem !important;
    font-family: "Nunito Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232324;
    font-size: 42px;
    font-weight: 700;
    margin-top: 3rem;
}

.collapseCtas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 75%;
}

.collapseCta {
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    display: inline-block;
    color: #161c2d;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .8125rem 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: uppercase !important;
    border-radius: 50rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.25px;
    text-align: center;
    border-color: transparent !important;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.collapseCtaAlternative:hover {
    background-color: #e7e7e7 !important;
}

.accordionCarousel {
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: all .3s ease-in-out;
}


@media only screen and (max-width: 1280px) {
    .text {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        height: fit-content;
    }

    .hero {
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .text,
    .title,
    .paragraph,
    .artwork {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }

    .text {
        margin-top: 5rem;
    }

    .paragraph {
        margin: 2rem 0;
    }

    .artwork {
        max-width: 80%;
        margin-top: 3rem;
        position: relative;
        right: 0;
        top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .text {
        padding: 0;
    }

    .toVideo {
        margin: 0 auto;
    }

    .timeline {
        width: 100%;
    }

    .timeline::before {
        width: 1px;
        left: 2rem;
    }

    .timelineItem>.tlItemContent {
        width: 100%;
    }

    .timelineItem>img {
        display: none;
    }

    .tlStep,
    .tlStepComplete {
        left: calc(2rem - 1.5rem)
    }

    .lastOps {
        width: 100%;
    }

    .lastOps .innerSlider {
        display: flex;
        gap: 3rem;
        top: 0;
        left: 0;
        margin: 0 calc(50vw - 150px);
    }

    .lastOps .innerSlider .card,
    .joinCard {
        width: 300px;
        margin-bottom: 2rem;
        margin: 0 auto;
    }

    .card .cardContent {
        flex-direction: column;
    }

    .cardAvatarWrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .suName {
        margin-bottom: 1rem;
    }

    .opportTitle {
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }

    .opportType {
        font-size: 1rem;
    }

    .opportRemaining {
        margin-bottom: 1rem;
    }

    .opportDescription {
        font-size: 0.9rem;
    }


    .carousel_wrapper {
        width: 100%;
    }

    .accordionCarousel {
        gap: 0;
    }
}