/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Products ( Title ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title > h1 {
    font-family: "Nunito Sans";
	font-size: 45px;
	font-weight: 900;
	text-align: center;
}
.title > p {
    color: var(--text-inactive-color);
}