/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Profile ( Global Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.details {
    display: flex;
    grid-gap: 24px;
    gap: 24px;
}
@media screen and (max-width: 990px) {
    .details {
        flex-direction: column;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Profile ( Left Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.details > .leftSide {
    display: flex;
    flex-direction: column;
    min-width: 296px;
    width: 296px;
    max-width: 296px;
    position: relative;
}
@media screen and (max-width: 990px) {
    .details > .leftSide {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Profile ( Left's Containers ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.details > .leftSide > div {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    position: sticky;
    top: 16px;
}
/* @media screen and (max-width: 990px) {
    .details > .leftSide > div > * + * {
        margin: 0px;
    }
} */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Profile ( Content Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.details > .content {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    gap: 32px;
    width: 100%;
    max-width: calc(100% - (296px + 24px));
}
@media screen and (max-width: 990px) {
    .details > .content {
        max-width: initial;
    }
}
.details > .content > button:not([class*="callTo"]) {
    width: fit-content;
}