/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Presentation ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentation {
	display: flex;
	flex-direction: column;
	grid-gap: 24px;
	gap: 24px;
	width: 100%;
	padding: calc(80px - 16px) calc(80px - 16px) 0px calc(80px - 16px);
}
@media screen and (max-width: 992px) {
	.presentation {
		padding: calc(80px - 16px);
	}
}
@media screen and (max-width: 576px) {
	.presentation {
		padding: calc(32px - 16px);
	}
}
.presentation::before,
.presentation::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.presentation::before {
	background-color: var(--background-main-color);
}
.presentation > div[class="container"] {
	padding: 16px 16px 0px 16px;
}
@media screen and (max-width: 992px) {
	.presentation > div[class="container"] {
		padding: 16px;
	}
	.presentation > div[class="container"] > img {
		display: none;
	}
}
.presentation > div[class="container"] > h1 {
	font-size: 56px;
	font-family: "Nunito Sans";
	font-weight: 300;
	color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Jumbotron ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.jumbotron {
	display: flex;
	grid-gap: 40px;
	gap: 40px;
}
.jumbotron > img {
	width: 650px;
	height: 100%;
	margin: auto;
	object-fit: contain;
}
@media screen and (max-width: 992px) {
	.presentation > div[class="container"] > .jumbotron > img {
		display: none;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Presentation Content ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentationContent {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
}
.presentationContent > h1 {
	font-family: "Nunito Sans";
	font-size: 65px;
	font-weight: 600;
}
.presentationContent > p {
	font-family: "Nunito Sans";
	font-size: 14px;
}
@media screen and (max-width: 576px) {
	.presentationContent > h1,
	.presentationContent > p {
		text-align: center;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Presentation Links ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.presentationLinks {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	width: max-content;
	margin: 0px 0px 56px 0px;
}
@media screen and (max-width: 992px) {
	.presentationLinks {
		margin: 0px;
	}
}
@media screen and (max-width: 576px) {
	.presentationLinks {
		width: 100%;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Banner ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.banner {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.banner {
		padding: calc(32px - 16px);
	}
}
.banner::before,
.banner::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.banner::after {
	border-radius: 100px 0px 100px 0px;
}
@media screen and (max-width: 576px) {
	.banner::after {
		border-radius: 50px 0px 50px 0px;
	}
}
.banner > div[class="container"] > div[class*="grid"] > .purpose {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	height: 100%;
}
.banner > div[class="container"] > h3,
.banner > div[class="container"] > div[class*="grid"] > .purpose > h5 {
	font-family: "Nunito Sans";
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	color: var(--perfect-white-color);
}
.banner > div[class="container"] > div[class*="grid"] > .purpose > h5 {
	font-size: 21px;
}
.banner > div[class="container"] > div[class*="grid"] > .purpose > p {
	font-family: "Nunito Sans";
	font-size: 16px;
	color: var(--perfect-white-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Banner For Startup ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.banner[data-type="startup"]::before {
	background-color: var(--background-main-color);
}
.banner[data-type="startup"]::after {
	background-color: var(--sunred-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Banner For Corporate ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.banner[data-type="corporate"]::before {
	background-color: var(--background-main-color);
}
.banner[data-type="corporate"]::after {
	background-color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Banner For Partner ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.banner[data-type="partner"]::before {
	background-color: var(--background-main-color);
}
.banner[data-type="partner"]::after {
	background-color: var(--grassgreen-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( How To ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.howTo {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.howTo {
		padding: calc(32px - 16px);
	}
}
.howTo::before,
.howTo::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	background-color: var(--background-main-color);
	z-index: -1;
}
.howTo > div[class="container"] > div[class*="grid"] > .step {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	height: 100%;
}
.howTo > div[class="container"] > h3,
.howTo > div[class="container"] > div[class*="grid"] > .step > h5 {
	font-family: "Nunito Sans";
	font-size: 48px;
	font-weight: bold;
	text-align: left;
}
.howTo > div[class="container"] > div[class*="grid"] > .step > h5 {
	font-size: 21px;
}
.howTo > div[class="container"] > div[class*="grid"] > .step > p {
	font-family: "Nunito Sans";
	font-size: 16px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Types ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.types {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.types {
		padding: calc(32px - 16px);
	}
}
.types::before,
.types::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	background-color: var(--background-main-color);
	z-index: -1;
}
.types > div[class="container"] > h3 {
	font-family: "Nunito Sans";
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}
.types > div[class="container"] > p {
	font-family: "Nunito Sans";
	font-size: 21px;
	text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Types For Corporate ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.types[data-type="corporate"] > div[class="container"] > h3,
.types[data-type="corporate"] > div[class="container"] > p {
	color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Types For Partner ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.types[data-type="partner"] > div[class="container"] > h3,
.types[data-type="partner"] > div[class="container"] > p {
	color: var(--grassgreen-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Type ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.type {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	padding: 16px;
	border-radius: 15px;
	background-color: var(--background-sub-color);
	box-shadow: var(--box-shadow);
}
.type > h5 {
	font-size: 21px;
	font-weight: bold;
	color: var(--text-inactive-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Checklists ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.checklists {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.checklists {
		padding: calc(32px - 16px);
	}
}
.checklists::before,
.checklists::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	background-color: var(--background-sub-color);
	z-index: -1;
}
.checklists > div[class="container"] > div[class*="grid"] > .list {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	height: 100%;
}
.checklists > div[class="container"] > h3,
.checklists > div[class="container"] > div[class*="grid"] > .list > h5 {
	font-family: "Nunito Sans";
	font-size: 48px;
	font-weight: bold;
	text-align: left;
}
.checklists > div[class="container"] > div[class*="grid"] > .list > h5 {
	font-size: 21px;
}
.checklists > div[class="container"] > div[class*="grid"] > .list > ul {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
}
.checklists > div[class="container"] > div[class*="grid"] > .list > ul > li {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	gap: 16px;
	font-family: "Nunito Sans";
	font-size: 16px;
}
.checklists > div[class="container"] > div[class*="grid"] > .list > ul > li > i {
	color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Startups Count ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.startupsCount {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.startupsCount {
		padding: calc(32px - 16px);
	}
}
.startupsCount::before,
.startupsCount::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	background-color: var(--background-main-color);
	z-index: -1;
}
.startupsCount > div[class="container"] > p {
	font-family: "Nunito Sans";
	font-size: 24px;
}
.startupsCount > div[class="container"] > h3 {
	padding: 0px 280px 0px 0px;
	font-family: "Nunito Sans";
	font-size: 42px;
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.startupsCount > div[class="container"] > h3 {
		padding: 0px 0px 200px 0px;
	}
}
@media screen and (max-width: 576px) {
	.startupsCount > div[class="container"] > h3 {
		padding: 0px;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Plans ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.plans {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.plans {
		padding: calc(32px - 16px);
	}
}
.plans::before,
.plans::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.plans > div[class="container"] {
	overflow: inherit;
}
.plans > div[class="container"] > h3 {
	padding: 0px 280px 0px 0px;
	font-family: "Nunito Sans";
	font-size: 45px;
	font-weight: bold;
	color: var(--perfect-white-color);
}
.plans > div[class="container"] > img {
	width: 280px;
	height: 480px;
	position: absolute;
	top: calc(-280px - 50px - 8.5px);
	right: 0px;
}
.plans > div[class="container"] > div[class*="grid"] {
	margin: 24px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
	.plans > div[class="container"] > h3 {
		padding: 140px 0px 0px 0px;
	}
	.plans > div[class="container"] > img {
		right: 50%;
		transform: translateX(50%);
	}
	.plans > div[class="container"] > div[class*="grid"] {
		grid-gap: 56px;
		gap: 56px;
		margin: 0px;
	}
}
@media screen and (max-width: 576px) {
	.plans > div[class="container"] > h3 {
		padding: 0px;
	}
	.plans > div[class="container"] > img {
		display: none;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Plans For Corporate ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.plans[data-type="corporate"]::before {
	background-color: var(--background-main-color);
}
.plans[data-type="corporate"]::after {
	border-radius: 100px 0px 0px 0px;
	background-color: var(--logo-blue-color);
}
@media screen and (max-width: 576px) {
	.plans[data-type="corporate"]::after {
		border-radius: 50px 0px 0px 0px;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Plan ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.plan {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	gap: 16px;
	height: 550px;
	padding: 16px;
	border: var(--border);
	border-width: 2px;
	border-color: var(--background-sub-color);
	border-radius: 15px;
	background-color: var(--background-sub-color);
}
.plan[data-rgb="enabled"] {
	border: none;
}
.plan[class*="popular"] {
	background-color: var(--challenge-color);
}
.plan > .tab {
	display: flex;
	align-items: center;
	grid-gap: 8px;
	gap: 8px;
	padding: 8px 16px 24px 16px;
	position: absolute;
	bottom: calc(100% - 16px);
	left: -2px;
	border-radius: 15px 15px 0px 0px;
	background-color: var(--background-main-color);
	z-index: -1;
}
.plan > .tab > p {
	font-weight: bold;
}
.plan > .tab > i,
.plan > .tab > p {
	color: var(--challenge-color);
}
.plan > .head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 8px;
	gap: 8px;
}
.plan > .head > h5 {
	font-family: "Nunito Sans";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: var(--logo-blue-color);
}
.plan[class*="popular"] > .head > h5 {
	color: var(--perfect-black-color);
}
.plan > .head > h5 > p {
	text-align: center;
}
.plan > .price {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}
.plan > .price > p {
	font-family: "Nunito Sans";
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.plan > .advantages {
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
	gap: 8px;
}
.plan > .advantages > .advantage {
	display: flex;
	align-items: center;
	grid-gap: 8px;
	gap: 8px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Typing ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.typing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 40px;
	gap: 40px;
	width: 100%;
	padding: calc(80px - 16px);
}
@media screen and (max-width: 576px) {
	.typing {
		padding: calc(32px - 16px);
	}
}
.typing::before,
.typing::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	z-index: -1;
}
.typing::after {
	border-radius: 100px 0px 100px 0px;
}
@media screen and (max-width: 576px) {
	.typing::after {
		border-radius: 50px 0px 50px 0px;
	}
}
.typing > div[class="container"] > p {
	font-size: 20px;
	color: var(--perfect-white-color);
}
.typing > div[class="container"] > .animation {
	text-align: left;
}
.typing > div[class="container"] > .animation > h3,
.typing > div[class="container"] > .animation > h3 > span {
	display: inline;
	font-size: 40px;
	font-family: "Nunito Sans";
	font-weight: bold;
	color: var(--perfect-white-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Typing For Partner ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.typing[data-type="startup"]::before {
	background-color: var(--background-main-color);
}
.typing[data-type="startup"]::after {
	background-color: var(--sunred-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Typing For Partner ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.typing[data-type="partner"]::before {
	background-color: var(--background-main-color);
}
.typing[data-type="partner"]::after {
	background-color: var(--grassgreen-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Solutions ( Testimonials ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.testimonials {
	background-color: var(--background-sub-color);
}