/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Action */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action:not(.ignore) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: var(--space-8) var(--space-16);
    position: relative;
    white-space: nowrap;
    border-bottom: var(--border-1);
    border-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.action:not(.ignore):hover,
.action:not(.ignore).active {
    border-color: var(--logo-blue-color);
}
.action:not(.ignore) * {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-main-color);
    transition: color 0.3s ease-in-out;
}
.action:not(.ignore):hover *,
.action:not(.ignore).active * {
    color: var(--logo-blue-color);
}
.action:not(.ignore).squared,
.action:not(.ignore).circled {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    padding: 0px;
}
.action > i {
    margin-right: var(--space-8);
}
.action > i:only-child {
    margin-right: 0px;
}
.action > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Primary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.primary {
    border: var(--border-1);
    border-color: var(--logo-blue-color);
    border-radius: var(--radius-100);
    background-color: var(--logo-blue-color);
}
.action.primary:hover,
.action.primary.active {
    background-color: var(--background-sub-color);
}
.action.primary * {
    color: var(--perfect-white-color);
}
.action.primary:hover *,
.action.primary.active * {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Secondary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.secondary {
    border: none;
    border-radius: var(--radius-100);
    background-color: var(--logo-blue-color);
}
.action.secondary:hover,
.action.secondary.active {
    background-color: var(--background-sub-color);
}
.action.secondary * {
    color: var(--perfect-white-color);
}
.action.secondary:hover *,
.action.secondary.active * {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Tertiary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.tertiary {
    border: none;
    border-radius: var(--radius-100);
    background-color: var(--lighter-grey-color);
}
.action.tertiary:hover,
.action.tertiary.active {
    background-color: var(--light-grey-color);
}
.action.tertiary * {
    color: var(--text-placeholder-color);
}
.action.tertiary:hover *,
.action.tertiary.active * {
    color: var(--perfect-black-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Quaternary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.quaternary {
    border: none;
    border-radius: var(--radius-100);
    background-color: transparent;
}
.action.quaternary:hover {
    background-color: var(--lighter-grey-color);
}
.action.quaternary.active {
    background-color: var(--background-private-color);
}
.action.quaternary * {
    color: var(--perfect-black-color);
}
[data-theme="dark"] .action.quaternary * {
    color: var(--perfect-white-color);
}
[data-theme="dark"] .action.quaternary:hover * {
    color: var(--perfect-black-color);
}
.action.quaternary.active * {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Quinary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.quinary {
    border: none;
    border-radius: var(--radius-100);
    background-color: transparent;
}
.action.quinary:hover,
.action.quinary.active {
    background-color: var(--logo-blue-color);
}
.action.quinary * {
    color: var(--logo-blue-color);
}
.action.quinary:hover *,
.action.quinary.active * {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Senary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.senary {
    border: none;
    border-radius: var(--radius-100);
    background-color: var(--logo-blue-color);
}
.action.senary:hover,
.action.senary.active {
    background-color: var(--pale-blue-color);
}
.action.senary * {
    color: var(--perfect-white-color);
}
.action.senary:hover *,
.action.senary.active * {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Septenary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.septenary {
    border: none;
    border-radius: var(--radius-100);
    background-color: var(--background-sub-color);
}
.action.septenary:hover,
.action.septenary.active {
    background-color: var(--pale-blue-color);
}
.action.septenary * {
    color: var(--logo-blue-color);
}
.action.septenary:hover *,
.action.septenary.active * {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Octonary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.octonary {
    border: none;
    border-radius: var(--radius-100);
    background-color: var(--pale-blue-color);
}
.action.octonary:hover,
.action.octonary.active {
    background-color: var(--logo-blue-color);
}
.action.octonary * {
    color: var(--logo-blue-color);
}
.action.octonary:hover *,
.action.octonary.active * {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Nonary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.nonary {
    border: var(--border-1);
    border-radius: var(--radius-100);
    background-color: transparent;
}
.action.nonary:hover,
.action.nonary.active {
    border-color: var(--logo-blue-color);
}
.action.nonary * {
    color: var(--border-color);
}
.action.nonary:hover *,
.action.nonary.active * {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Denary */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.denary {
    border: var(--border-1);
    border-color: var(--logo-blue-color);
    border-radius: var(--radius-100);
    background-color: var(--background-sub-color);
}
.action.denary:hover,
.action.denary.active {
    background-color: var(--logo-blue-color);
}
.action.denary * {
    color: var(--logo-blue-color);
}
.action.denary:hover *,
.action.denary.active * {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Design */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.design {
    background: linear-gradient(90deg, #ec008c, #fc6767);
    overflow: hidden;
}
.action.design::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    opacity: 0;
    background-color: var(--background-sub-color);
    transition: opacity 0.3s ease-in-out;
}
.action.design:hover::before,
.action.design.active::before {
    opacity: 1;
}
.action.design * {
    color: var(--perfect-white-color);
    background: linear-gradient(90deg, #ec008c, #fc6767);
    background-clip: text;
    -webkit-background-clip: text;
}
.action.design:hover *,
.action.design.active * {
    color: transparent;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Wide */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.wide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: var(--space-16);
    border: var(--border-1);
    border-style: dashed;
    border-radius: var(--radius-10);
    background-color: var(--background-sub-color);
}
.action.wide:hover {
    background-color: var(--pale-blue-color);
}
.action.wide * {
    color: var(--logo-blue-color);
}
.action.wide > i {
    padding: var(--space-16);
    font-size: 20px;
    border-radius: var(--radius-100);
    background-color: var(--pale-blue-color);
    transition: background-color 0.3s ease-in-out;
}
.action.wide:hover > i {
    background-color: var(--background-sub-color);
}
.action.wide > span {
    font-size: 21px;
    font-family: "Nunito Sans";
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Link */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.inactiveLink,
.action.link {
    width: fit-content;
    padding: 0px 0px 4px 0px;
}
.action.inactiveLink > * {
    color: var(--text-placeholder-color);
}
.action.link > * {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Sizes */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.bigger {
    padding: var(--space-16);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Corners */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.sharp {
    border-radius: 0px;
}
.action.squared,
.action.narrow {
    border-radius: var(--radius-10);
}
.action.circled {
    border-radius: var(--radius-40);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Shadows */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.shadow {
    box-shadow: var(--box-shadow);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Borderless */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.borderless {
    border: none;
}
.action.inactiveLink.borderless,
.action.link.borderless {
    padding: 0px;
}
.action.inactiveLink.borderless > span,
.action.link.borderless > span {
    text-transform: inherit;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Animations */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.scale:hover {
    transform: scale(1.05);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Toggle */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    background-color: var(--background-sub-color);
    z-index: 1;
}
.action.toggle > i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto var(--space-16) auto auto;
    pointer-events: none;
    color: var(--text-placeholder-color);
    transition: transform 0.3s ease-in-out;
}
.action.toggle.active > i {
    color: var(--logo-blue-color);
    transform: rotate(90deg);
}
footer .action.toggle.active > i {
    color: var(--logo-blue-color);
    transform: rotate(-90deg);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Option */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: var(--space-8);
    border-radius: var(--radius-10);
    transition: background-color 0.3s ease-in-out;
}
.action.option:hover {
    background-color: var(--border-color);
}
.action.option.active {
    background-color: var(--logo-blue-color);
}
.action.option > i {
    color: var(--logo-blue-color);
}
.action.option > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}
.action.option:hover > span {
    color: var(--perfect-black-color);
}
.action.option.active > span {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Disabled */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.disabled {
    filter: grayscale(1);
    pointer-events: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Ignore */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
nav .action:not(.option).ignore.active {
    border-color: var(--logo-blue-color);
}
nav .action:not(.option).ignore.active > span {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* No Uppercase */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.action.noUppercase {
    display: inline;
    white-space: inherit;
}
.action.noUppercase > span {
    text-transform: initial;
    white-space: inherit;
    text-overflow: inherit;
    overflow: inherit;
}