/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Links ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0px;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 32px 0px;
}
.container > div > a + a {
    margin: 0px 0px 0px 16px;
}