/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Links ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    gap: 32px;
    width: 100%;
}
.container > h3 {
    font-size: 24px;
    font-weight: 800;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Links ( Actions ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
@media screen and (max-width: 992px) {
    .actions {
        flex-direction: column;
    }
    .actions > a {
        width: 100%;
    }
}