/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.opportunityPreview {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.opportunityPreview [class="separator"] {
    width: initial;
    margin: 16px 16px 16px 152px;
}
@media screen and (max-width: 992px) {
    .opportunityPreview [class="separator"] {
        margin: 16px;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Background ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.background {
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}
.background > img {
    border-radius: 15px 15px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Idenfitication ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.identification {
    display: flex;
    width: 100%;
    padding: 16px 16px 0px 152px;
    position: relative;
    background-color: var(--background-sub-color);
}
.identification:last-of-type {
    padding: 16px 16px 16px 152px;
}
@media screen and (max-width: 992px) {
    .identification {
        padding: 76px 16px 0px 16px;
    }
    .identification:last-of-type {
        padding: 16px;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Logo ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    left: 16px;
    border: var(--border);
    border-width: 2px;
    border-color: var(--background-sub-color);
    border-radius: 100%;
    box-shadow: var(--darker-box-shadow);
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .logo {
        left: 50%;
        transform: translateX(-50%);
    }
}
.logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Data ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.data {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data {
    display: flex;
    width: 100%;
}
.data > h3 {
    margin: 0px 8px 0px 0px;
    font-size: 21px;
}
.data > h3 > span {
    font-size: 21px;
    color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Informations ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.informations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0px 16px 0px 152px;
}
@media screen and (max-width: 992px) {
    .informations {
        padding: 0px 16px;
    }
}
.informations > div {
    display: flex;
    align-items: center;
    margin: 0px 16px 0px 0px;
}
.informations > div:last-of-type {
    margin: 0px;
}
.informations > p,
.informations > div > p {
    color: var(--text-inactive-color);
}
.informations > p {
    margin: 0px 16px 0px 0px;
}
.informations > div > i {
    margin: 0px 8px 0px 0px;
    color: var(--text-inactive-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Description ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.description {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 16px 0px 152px;
}
@media screen and (max-width: 992px) {
    .description {
        padding: 0px 16px;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Eligibility ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.eligibility {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px 0px 152px;
}
@media screen and (max-width: 992px) {
    .eligibility {
        padding: 0px 16px;
    }
}
.eligibility > h4 {
    margin: 0px 0px 8px 0px;
    color: var(--text-inactive-color);
    font-size: 14px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Eligibility ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px 8px 152px;
}
@media screen and (max-width: 992px) {
    .tags {
        padding: 0px 16px 8px 16px;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Preview ( Attachments ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.attachments {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 16px 0px;
    padding: 0px 16px 0px 152px;
}
@media screen and (max-width: 992px) {
    .attachments {
        padding: 0px 16px;
    }
}