/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Select ( Select ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.selectField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    position: relative;
    border-bottom: var(--border);
    background-color: var(--background-sub-color);
}
.selectField > p {
    padding: 0px 32px 0px 16px;
    pointer-events: none;
    z-index: 1;
}
.selectField > .placeholder {
    color: var(--border-color);
}
.selectField > .placeholder > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: var(--perfect-white-color);
    font-size: 11px;
    border-radius: 50px;
    background-color:  var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Select ( Toggle Button ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.toggleButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--background-sub-color);
    z-index: 1;
}
.toggleButton > i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 16px auto auto;
    pointer-events: none;
    color: var(--border-color);
}
.selectField.show > .toggleButton > i {
    color: var(--logo-blue-color);
    transform: rotate(90deg);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Select ( Options ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.options {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    max-height: 250px;
    padding: 8px;
    position: absolute;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid var(--separator-color);
    border-radius: 0px 0px 10px 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}
.selectField.show > .options {
    opacity: 1;
    pointer-events: all;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Select ( Option ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.option {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}
.option > i {
    color: var(--logo-blue-color);
}
.option:hover {
    background-color: var(--separator-color);
}
.option.selected {
    background-color: var(--logo-blue-color);
}
.option > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}
.option:hover > span {
    color: var(--perfect-black-color);
}
.option.selected > span {
    color: var(--perfect-white-color);
}