/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.container > * + * {
    margin: 16px 0px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Links ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.links {
    display: flex;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Search ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.search > form {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Filters ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.filters {
    display: flex;
    align-items: center;
}