/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Header ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.header > i {
    font-size: 22px;
}
.header > h1,
.header > h1 > span {
    margin: 0px auto 0px 0px;
    font-family: "Nunito Sans";
    font-size: 21px;
    font-weight: 900;
    text-transform: capitalize;
}
.header > h1 > span {
    margin: 0px;
    color: var(--logo-blue-color);
    text-transform: lowercase;
}
.header > .displays {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
.header > .displays > .switcher {
    display: none;
    min-width: 20px;
    width: 20px;
    max-width: 20px;
    height: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px;
}
.header > .displays > .switcher > i {
    font-size: 16px;
}
@media screen and (max-width: 576px) {
    .header > .displays {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 60px;
        width: 60px;
        max-width: 60px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
    }
    .header > .displays > [class*="Button"]:not([class*="Filter"]) {
        transition: transform 0.3s ease-in-out;
    }
    .header > .displays > .switcher {
        display: flex;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Links ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.links > a > i,
.links > a > span {
    color: var(--text-main-color);
    transition: color 0.3s ease-in-out;
}
.links > a:hover,
.links > a.active {
    border-color: var(--text-main-color);
}
.links > a:hover > i,
.links > a:hover > span,
.links > a.active > i,
.links > a.active > span {
    font-weight: bold;
}
.links > a.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Search ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.search > form {
    display: flex;
    align-items: center;
    width: 100%;
}
.search > form > button {
    position: absolute;
    right: 0px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Filters ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.filters > [class*="selectField"] {
    flex: 1;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Message ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
@media screen and (max-width: 576px) {
    .message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Filters ( Actions ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.actions {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}