/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Container ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    z-index: 2;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Header ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > i {
    font-size: 20px;
}
.header > h1,
.header > h1 > span {
    margin: 0px auto 0px 8px;
    font-family: "Nunito Sans";
    font-size: 21px;
    font-weight: 900;
    text-transform: capitalize;
}
.header > h1 > span {
    margin: 0px;
    color: var(--logo-blue-color);
    text-transform: lowercase;
}
.header > .displays {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Links ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.links {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.links > a > i,
.links > a > span {
    color: var(--perfect-black-color);
}
.links > a:hover {
    border-color: var(--perfect-black-color);
}
.links > a:hover > span {
    font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Search ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.search > form {
    display: flex;
    align-items: center;
    width: 100%;
}
.search > form > button {
    position: absolute;
    right: 0px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Filters ( Filters ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.filters > [class*="selectField"] {
    flex: 1;
}