/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tags */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.tags {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    position: relative;
}
.tags > .tag:first-of-type {
    margin: 8px 8px 0px 0px;
}
.tags > * + * {
    margin: 8px 8px 0px 0px;
}
.tags > .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    min-height: 24px;
    height: 24px;
    max-height: 24px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--lightblue-color);
}
.tags > .tag > p {
    margin: 0px;
    color: var(--logo-blue-color);
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tags > .tag.main {
    min-height: 32px;
    height: 32px;
    max-height: 32px;
    background-color: var(--paleblue-color);
}
.tags > .tag.main > p {
    font-size: 16px;
    text-transform: capitalize;
}
.tags.alternative > .tag {
    background-color: var(--logo-blue-color);
}
.tags.alternative > .tag > p {
    color: var(--perfect-white-color);
    text-transform: capitalize;
}