/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Breakpoints */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* xs => < 576px */
/* sm => > 576px */
/* md => > 768px */
/* lg => > 992px */
/* xl => > 1200px */
/* xx => > 1400px */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Variables */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
:root {
    /* Logo Colors */
    --logo-blue-color: #005AEB;
    --logo-orange-color: #FE6A28;
    --logo-green-color: #65D318;
    /* Opportunity Colors */
    --project-color: #31A774;
    --event-color: #8061DE;
    --program-color: #7EC9FF;
    --offer-color: #FA6A58;
    --challenge-color: #ED9F00;
    /* Light & Dark Colors */
    --perfect-white-color: #FFFFFF;
    --darker-white-color: #F8F7F6;
    --lighter-grey-color: #E7E7E7;
    --light-grey-color: #CFD0D1;
    --perfect-grey-color: #808080;
    --dark-grey-color: #6D6D6D;
    --darker-grey-color: #555555;
    --lighter-black-color: #363839;
    --light-black-color: #242526;
    --classic-black-color: #141516;
    --perfect-black-color: #000000;
    /* Feedback Colors */
    --success-color: #00A04A;
    --warning-color: #FCDC0C;
    --error-color: #E01E3E;
    --information-color: #1F4497;
    /* Blue Tones */
    --pastel-blue-color: #F0F6FF;
    --light-blue-color: #B2D1FF;
    --pale-blue-color: #97C0FD;
    --pure-blue-color: #006DFF;
    /* Green Tones */
    --light-green-color: #D1F2E4;
    --pale-green-color: #9FE9CA;
    --grass-green-color: #38BF84;
    /* Red Tones */
    --light-red-color: #FFEFE6;
    --pale-red-color: #FFCFD1;
    --sun-red-color: #FF5500;
    /* Text Colors */
    --text-main-color: var(--perfect-black-color);
    --text-placeholder-color: var(--perfect-grey-color);
    /* Line Colors */
    --border-color: var(--light-grey-color);
    --border: 1px solid var(--border-color);
    --debugging-border: 1px dashed var(--logo-blue-color);
    /* Background Colors */
    --background-main-color: var(--darker-white-color);
    --background-sub-color: var(--perfect-white-color);
    --background-private-color: var(--light-black-color);
    --background-information-color: var(--light-grey-color);
    /* Other Variables */
    --shadow-color: #00000030;
    --darker-shadow-color: #00000050;
    --box-shadow: 5px 5px 10px 0px var(--shadow-color);
    --box-shadow-reversed: 5px -5px 10px 0px var(--shadow-color);
    --darker-box-shadow: 5px 5px 10px 0px var(--darker-shadow-color);
    --filter-color: #FFFFFF80;
    --gradient-mask: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFFFF 80%);
    --gradient-ui: linear-gradient(90deg, #EC008C, #FF8336);
    /* Spaces */
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-40: 40px;
    /* Borders */
    --radius-5: 5px;
    --radius-10: 10px;
    --radius-15: 15px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Resets */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: "Open Sans";
    color: var(--text-main-color);
    list-style: none;
    text-decoration: none;
    border: none;
    background: none;
    scroll-behavior: smooth;
    outline: none;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}
*::placeholder {
    color: var(--text-placeholder-color);
}
a, button {
    cursor: pointer;
}
img {
    object-fit: cover;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--background-main-color);
    overflow: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Accessibility */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
*:focus-visible {
    border-color: var(--logo-blue-color) !important;
    background-color: var(--pale-blue-color) !important;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Scroll Bar */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: var(--space-8);
    height: var(--space-8);
    border-radius: 50px;
    background-color: var(--border-color);
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Next Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
#__next {
    /* display: flex;
    flex-direction: column; */
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    margin: 70px 0px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
#__next > [data-page] {
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    margin: 0px -8px 0px 0px; /* Fixes the gap caused by the scrollbar */
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Boxed Content */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.boxedContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    padding: var(--space-16);
    border-radius: var(--radius-15);
    z-index: 1;
}
@media screen and (min-width: 1400px) {
    .boxedContent {
        max-width: 1400px;
    }
}
.boxedContent > *:not([class*="Navbar"]) + * {
    margin-top: var(--space-24);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Grid */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    padding: var(--space-16) var(--space-16) 0px 0px;
}
.twoColumns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.threeColumns {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.fourColumns {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media screen and (max-width: 1200px) {
    .twoColumns {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .threeColumns {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .fourColumns {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (max-width: 768px) {
    .threeColumns {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .fourColumns {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 576px) {
    .fourColumns {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Grid Items */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.grid > * {
    justify-self: center;
    width: calc(100% - var(--space-16));
    margin: 0px 0px var(--space-16) var(--space-16);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Custom Tool Tips */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
[data-type="tooltip"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    position: relative;
    pointer-events: all;
}
[data-type="tooltip"]:before,
[data-type="tooltip"]:after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -10px, 0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 10;
}
[data-type="tooltip"]:before {
    width: max-content;
    max-width: 200px;
    padding: var(--space-8);
    bottom: 100%;
    content: attr(data-tooltip);
    font-weight: 500;
    font-size: 14px;
    color: var(--logo-blue-color);
    white-space: break-spaces;
    background-color: var(--background-sub-color);
    border-radius: var(--radius-5);
    box-shadow: var(--box-shadow);
}
[data-type="tooltip"]:after {
    width: 0px;
    height: 0px;
    bottom: calc(100% - var(--space-8));
    content: "";
	border-top: var(--space-8) solid var(--logo-blue-color); 
    border-right: var(--space-8) solid transparent;
    border-left: var(--space-8) solid transparent;
}
[data-type="tooltip"]:hover:before,
[data-type="tooltip"]:hover:after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
[data-type="tooltip"] > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Data Style Attributes */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
[data-text-align="left"] {
    text-align: left !important;
}
[data-text-align="center"] {
    text-align: center !important;
}
[data-text-align="right"] {
    text-align: right !important;
}
[data-flex-align="left"] {
    align-items: flex-start !important;
}
[data-flex-align="center"] {
    align-items: center !important;
}
[data-flex-align="right"] {
    align-items: flex-end !important;
}
[data-flex-justify="left"] {
    justify-content: flex-start !important;
}
[data-flex-justify="center"] {
    justify-content: center !important;
}
[data-flex-justify="right"] {
    justify-content: flex-end !important;
}