/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Breakpoints */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* xs => < 576px */
/* sm => > 576px */
/* md => > 768px */
/* lg => > 992px */
/* xl => > 1200px */
/* xx => > 1400px */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Variables */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
:root {
    --main-color: 0, 109, 255;
    --logo-orange-color: 254, 106, 40;
    --logo-green-color: 102, 213, 23;
    --project-color: 49, 167, 116;
    --event-color: 128, 97, 222;
    --program-color: 126, 201, 255;
    --offer-color: 250, 106, 88;
    --challenge-color: 237, 159, 0;
    --white-color: 255, 255, 255;
    --black-color: 35, 35, 35;
    --success-color: 56, 191, 132;
    --warning-color: 255, 176, 13;
    --error-color: 255, 40, 56;
    --paleblue-color: 178, 209, 255;
    --lightblue-color: 240, 246, 255;
    --skyblue-color: 126, 201, 255;
    --palegreen-color: 209, 242, 228;
    --palered-color: 255, 207, 209;
    --text-sub-color: 89, 89, 89;
    --text-main-color: 35, 35, 36;
    --text-inactive-color: 89, 89, 89;
    --separator-color: 231, 231, 231;
    --border-color: 207, 208, 209;
    --border: 1px solid rgb(var(--border-color));
    --border-alternative-color: 231, 231, 231;
    --border-alternative: 1px solid rgb(var(--border-alternative-color));
    --background-main-color: 248, 247, 246;
    --background-sub-color: 255, 255, 255;
    --background-private-color: 36, 37, 38;
    --background-private-header-color: 64, 65, 70;
    --background-information-color: 247, 247, 247;
    --background-privacy-color: 231, 231, 231;
    --separator-color: 231, 231, 231;
    --shadow-color: 0, 0, 0;
    --box-shadow: 0px 4px 10px 0px rgba(var(--shadow-color), 0.07);
    --darker-box-shadow: 0px 4px 10px 0px rgba(var(--shadow-color), 0.27);
    --filter-color: rgba(0, 0, 0, 0.5);
    --gradientMask: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Dark Theme */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* [data-theme="dark"] {
    --main-color: 0, 109, 255;
    --logo-orange-color: 254, 106, 40;
    --project-color: 49, 167, 116;
    --event-color: 128, 97, 222;
    --program-color: 126, 201, 255;
    --offer-color: 250, 106, 88;
    --challenge-color: 237, 159, 0;
    --white-color: 255, 255, 255;
    --black-color: 35, 35, 35;
    --success-color: 56, 191, 132;
    --warning-color: 255, 176, 13;
    --error-color: 191, 56, 56;
    --paleblue-color: 56, 56, 56;
    --lightblue-color: 36, 36, 36;
    --skyblue-color: 126, 201, 255;
    --palegreen-color: 209, 242, 228;
    --palered-color: 255, 207, 209;
    --text-main-color: 255, 255, 255;
    --text-sub-color: 176, 179, 184;
    --text-placeholder-color: 157, 157, 157;
    --text-inactive-color: 89, 89, 89;
    --border-color: 120, 120, 120;
    --border: 1px solid rgb(var(--border-color));
    --border-alternative-color: 120, 120, 120;
    --border-alternative: 1px solid rgb(var(--border-alternative-color));
    --background-main-color: 41, 41, 41;
    --background-sub-color: 56, 56, 56;
    --background-private-color: 18, 18, 18;
    --background-private-header-color: 29, 29, 29;
    --background-information-color: 36, 36, 36;
    --background-privacy-color: 56, 56, 56;
    --separator-color: 231, 231, 231;
    --shadow-color: 0, 0, 0;
    --box-shadow: 0px 4px 10px 0px rgba(var(--shadow-color), 0.07);
    --darker-box-shadow: 0px 4px 10px 0px rgba(var(--shadow-color), 0.27);
    --filter-color: rgba(0, 0, 0, 0.5);
    --gradientMask: linear-gradient(180deg, rgba(56, 56, 56, 0) 0%, rgba(56, 56, 56, 1) 80%);
} */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Defaults */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: rgb(var(--text-main-color));
    list-style: none;
    border: none;
    background: none;
    scroll-behavior: smooth;
    outline: none;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
}
a, button {
    cursor: pointer;
}
i {
    transition: color 0.3s ease;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Custom */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.hidden {
    display: none !important;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Scroll Bar */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgb(var(--background-main-color));
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgb(var(--main-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Body */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: rgb(var(--background-main-color));
    overflow: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Main Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 64px 0px 0px 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
@media screen and (max-width: 768px) {
    #__next {
        padding: 16px;
    }
}
#__next > .container {
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 16px 0px 0px 0px;
}
@media screen and (min-width: 576px) {
    #__next > .container {
        max-width: 576px;
    }
}
@media screen and (min-width: 768px) {
    #__next > .container {
        max-width: 568px;
    }
}
@media screen and (min-width: 992px) {
    #__next > .container {
        max-width: 792px;
    }
}
@media screen and (min-width: 1200px) {
    #__next > .container {
        max-width: 1000px;
    }
}
@media screen and (min-width: 1400px) {
    #__next > .container {
        max-width: 1200px;
    }
}
#__next > .container > div > * + * {
    margin: 16px 0px 0px 0px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Rounded Icon ( Base ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionRoundedIcon,
.callToActionAlternativeRoundedIcon,
.callToActionNegativeRoundedIcon,
.callToActionNegativeAlternativeRoundedIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: var(--border);
    border-color: rgb(var(--main-color));
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}
.callToActionRoundedIcon > i,
.callToActionAlternativeRoundedIcon > i,
.callToActionNegativeRoundedIcon > i,
.callToActionNegativeAlternativeRoundedIcon > i {
    font-size: 16px;
}
.callToActionRoundedIcon > i.fa-ellipsis,
.callToActionAlternativeRoundedIcon > i.fa-ellipsis,
.callToActionNegativeRoundedIcon > i.fa-ellipsis,
.callToActionNegativeAlternativeRoundedIcon > i.fa-ellipsis {
    font-size: 26px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Rounded Icon */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionRoundedIcon {
    background-color: rgb(var(--main-color));
}
.callToActionRoundedIcon:hover {
    background-color: rgb(var(--background-sub-color));
}
.callToActionRoundedIcon > i {
    color: rgb(var(--white-color));
}
.callToActionRoundedIcon:hover > i {
    color: rgb(var(--main-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Alternative Rounded Icon */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionAlternativeRoundedIcon {
    background-color: rgb(var(--background-sub-color));
}
.callToActionAlternativeRoundedIcon:hover {
    background-color: rgb(var(--main-color));
}
.callToActionAlternativeRoundedIcon > i {
    color: rgb(var(--main-color));
}
.callToActionAlternativeRoundedIcon:hover > i {
    color: rgb(var(--white-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action ( Base ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToAction,
.callToActionAlternative,
.callToActionNegative,
.callToActionNegativeAlternative,
.callToActionSquared {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 11px 21px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    border: var(--border);
    border-color: rgb(var(--main-color));
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    letter-spacing: 1.79px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToAction {
    color: rgb(var(--white-color));
    background-color: rgb(var(--main-color));
}
.callToAction:hover {
    color: rgb(var(--main-color));
    background-color: rgb(var(--nackground-sub-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Alternative */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionAlternative {
    color: rgb(var(--main-color));
    background-color: rgb(var(--background-sub-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Negative */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionNegative {
    color: rgb(var(--main-color));
    border-color: rgb(var(--background-sub-color));
    background-color: rgb(var(--background-sub-color));
}
.callToActionNegative:hover {
    color: rgb(var(--white-color));
    background-color: rgb(var(--main-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Squared */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionSquared {
    padding: 32px 16px;
    font-size: 19px;
    color: rgb(var(--main-color));
    text-transform: initial;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
}
.callToActionSquared:hover {
    background-color: rgb(var(--paleblue-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Wide ( Base ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionWide {
    width: 100%;
    padding: 16px;
    position: relative;
    border: var(--border);
    border-style: dashed;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    transition: background-color 0.3s ease;
}
.callToActionWide:hover {
    background-color: rgb(var(--paleblue-color));
}
.callToActionWide > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 32px;
    background-color: rgb(var(--paleblue-color));
    transition: background-color 0.3s ease;
}
.callToActionWide:hover > .icon {
    background-color: rgb(var(--main-color));
}
.callToActionWide > p {
    margin: 8px auto auto auto;
    font-family: "Nunito Sans";
    font-size: 21px;
    color: rgb(var(--main-color));
}
.callToActionWide > .icon > i {
    font-size: 30px;
    color: rgb(var(--main-color));
}
.callToActionWide:hover > .icon > i {
    color: rgb(var(--white-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* See More */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.seeMore {
    color: rgb(var(--text-inactive-color));
}
.seeMore > span {
    margin: 0px 8px 0px 0px;
    color: rgb(var(--text-inactive-color));
}
.seeMore > i {
    font-size: 11px;
    color: rgb(var(--text-inactive-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* See More Alternative */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.seeMoreAlternative {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 32px;
    margin: 16px auto auto auto;
    color: rgb(var(--text-inactive-color));
    font-weight: 600;
    border: var(--border);
    border-radius: calc(32px / 2);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Separator */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.separator {
    width: 100%;
    height: 1px;
    margin: 16px 0px;
    background-color: rgb(var(--separator-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Locked */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.locked {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.locked::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    backdrop-filter: blur(10px);
}
.locked.gradient::after {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(var(--background-sub-color), 0.5) 20%, rgb(var(--background-sub-color)) 60%);
    backdrop-filter: inherit;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Locked Content */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.lockedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.lockedContent > i {
    font-size: 24px;
    color: rgb(var(--main-color));
    margin: 0px 0px 8px 0px;
}
.lockedContent > p {
    text-align: center;
    color: rgb(var(--main-color));
    text-decoration: underline;
    font-size: 19px;
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Formatted Content */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.formattedContent {
    display: flex;
    flex-direction: column;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal Layout */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.modalLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    background-color: var(--filter-color);
    transition: opacity 0.3s ease;
    z-index: 9000;
}
.modalLayout.open {
    opacity: 1;
    pointer-events: all;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal ( Base ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--background-sub-color));
    overflow: hidden;
}
.modal.firstType {
    border-radius: 15px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal ( Register ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.modal[data-modal="register"] {
    max-width: 892px;
}
.modal[data-modal="register"] > div {
    display: flex;
    align-items: center;
}
.modal[data-modal="register"] > div > i {
    margin: 0px 16px 0px 0px;
    font-size: 40px;
    color: rgb(var(--warning-color));
}
.modal[data-modal="register"] > div > p {
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 800;
    color: rgb(var(--text-inactive-color));
}
.modal[data-modal="register"] > div:first-of-type {
    padding: 24px calc((24px + 16px) + 38px) 24px 24px;
}
.modal[data-modal="register"] > div:last-of-type {
    padding: 24px 24px 24px calc((24px + 16px) + 35px);
    background-color: rgb(var(--main-color));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal ( Close Button ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.modal > .closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
.modal > .closeModal:hover {
    background-color: rgb(var(--paleblue-color));
}
.modal > .closeModal > i {
    font-size: 18px;
    color: rgb(var(--main-color));
}