/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Breakpoints */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* xs => < 576px */
/* sm => > 576px */
/* md => > 768px */
/* lg => > 992px */
/* xl => > 1200px */
/* xx => > 1400px */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Variables */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
:root {
    /* Logo Colors */
    --logo-blue-color: #005AEB;
    --logo-orange-color: #FE6A28;
    --logo-green-color: #65D318;
    /* Opportunity Colors */
    --project-color: #31A774;
    --event-color: #8061DE;
    --program-color: #7EC9FF;
    --offer-color: #FA6A58;
    --challenge-color: #ED9F00;
    /* Light & Dark Colors */
    --perfect-white-color: #FFFFFF;
    --darker-white-color: #F8F7F6;
    --light-grey-color: #CFD0D1;
    --perfect-grey-color: #808080;
    --lighter-black-color: #242526;
    --classic-black-color: #141516;
    --perfect-black-color: #000000;
    /* Feedback Colors */
    --success-color: #00A04A;
    --warning-color: #FCDC0C;
    --error-color: #E01E3E;
    --information-color: #1F4497;
    /* Blue Tones */
    --pastelblue-color: #F0F6FF;
    --lightblue-color: #B2D1FF;
    --paleblue-color: #97C0FD;
    --pureblue-color: #006DFF;
    /* Green Tones */
    --lightgreen-color: #D1F2E4;
    --palegreen-color: #9FE9CA;
    --grassgreen-color: #38BF84;
    /* Red Tones */
    --lightred-color: #FFEFE6;
    --palered-color: #FFCFD1;
    --sunred-color: #FF5500;
    /* Text Colors */
    --text-main-color: var(--perfect-black-color);
    --text-inactive-color: var(--perfect-grey-color);
    --separator-color: var(--light-grey-color);
    --border-color: var(--light-grey-color);
    --border: 1px solid var(--border-color);
    /* Background Colors */
    --background-main-color: var(--darker-white-color);
    --background-sub-color: var(--perfect-white-color);
    --background-private-color: var(--lighter-black-color);
    --background-information-color: var(--light-grey-color);
    /* Inverted color */
    --inverted-color: var(--perfect-black-color);
    /* Other Variables */
    --shadow-color: #00000030;
    --darker-shadow-color: #00000050;
    --box-shadow: 4px 4px 10px 0px var(--shadow-color);
    --darker-box-shadow: 4px 4px 10px 0px var(--darker-shadow-color);
    --filter-color: #FFFFFF80;
    --gradient-mask: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFFFF 80%);
    --gradient-rgb: linear-gradient(90deg, #FB0094, #0000FF, #00FF00,#FFFF00, #FF0000, #FB0094, #0000FF, #00FF00,#FFFF00, #FF0000);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Dark Theme */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
[data-theme="dark"] {
    /* Logo Colors */
    --logo-blue-color: #005AEB;
    --logo-orange-color: #FE6A28;
    --logo-green-color: #65D318;
    /* Opportunity Colors */
    --project-color: #31A774;
    --event-color: #8061DE;
    --program-color: #7EC9FF;
    --offer-color: #FA6A58;
    --challenge-color: #ED9F00;
    /* Light & Dark Colors */
    --perfect-white-color: #FFFFFF;
    --darker-white-color: #F8F7F6;
    --light-grey-color: #CFD0D1;
    --perfect-grey-color: #808080;
    --lighter-black-color: #242526;
    --classic-black-color: #141516;
    --perfect-black-color: #000000;
    /* Feedback Colors */
    --success-color: #00A04A;
    --warning-color: #FCDC0C;
    --error-color: #E01E3E;
    --information-color: #1F4497;
    /* Blue Tones */
    --pastelblue-color: #F0F6FF;
    --lightblue-color: #B2D1FF;
    --paleblue-color: #97C0FD;
    --pureblue-color: #006DFF;
    /* Green Tones */
    --lightgreen-color: #D1F2E4;
    --palegreen-color: #9FE9CA;
    --grassgreen-color: #38BF84;
    /* Red Tones */
    --lightred-color: #FFEFE6;
    --palered-color: #FFCFD1;
    --sunred-color: #FF5500;
    /* Text Colors */
    --text-main-color: var(--perfect-white-color);
    --text-inactive-color: var(--perfect-grey-color);
    --separator-color: var(--light-grey-color);
    --border-color: var(--light-grey-color);
    --border: 1px solid var(--border-color);
    /* Background Colors */
    --background-main-color: var(--lighter-black-color);
    --background-sub-color: var(--classic-black-color);
    --background-private-color: var(--lighter-black-color);
    --background-information-color: var(--perfect-grey-color);
    /* Inverted color */
    --inverted-color: var(--perfect-white-color);
    /* Other Variables */
    --shadow-color: #00000070;
    --darker-shadow-color: #00000090;
    --box-shadow: 4px 4px 10px 0px var(--shadow-color);
    --darker-box-shadow: 4px 4px 10px 0px var(--darker-shadow-color);
    --filter-color: #00000080;
    --gradient-mask: linear-gradient(180deg, #00000000 0%, #000000FF 80%);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Defaults */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    grid-gap: 0px;
    gap: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: "Open Sans";
    color: var(--text-main-color);
    list-style: none;
    border: none;
    background: none;
    scroll-behavior: smooth;
    outline: none;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease;
}
*::before,
*::after {
    transition: all 0.3s ease;
}
a {
    text-decoration: none;
}
a, button {
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
* > i {
    transition: transform 0.3s ease, background-color 0.3s ease;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Custom */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.hidden {
    display: none !important;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Scroll Bar */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--background-main-color);
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Body */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: var(--background-main-color);
    overflow: hidden;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Next Container */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 64px 0px 0px 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Main Container */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container,
.containerFull {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    width: 100%;
    grid-gap: 40px;
    gap: 40px;
    margin: 0px auto;
    padding: 16px;
}
.containerFull {
    grid-gap: inherit;
    gap: inherit;
    padding: 0px;
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: calc(768px - (2 * 50px));
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: calc(992px - (2 * 50px));
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: calc(1200px - (2 * 50px));
    }
}
@media screen and (min-width: 1400px) {
    .container {
        max-width: calc(1400px - (2 * 50px));
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Grid */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-gap: 16px;
    gap: 16px;
}
.twoColumns {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
}
.threeColumns {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}
.fourColumns {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
}
@media screen and (max-width: 1200px) {
    .twoColumns {
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
    .threeColumns {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    .fourColumns {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }
}
@media screen and (max-width: 768px) {
    .threeColumns {
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
    .fourColumns {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
}
@media screen and (max-width: 576px) {
    .fourColumns {
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* List */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    gap: 16px;
}
.list > a > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-gap: 8px;
    gap: 8px;
    min-height: inherit;
}
.list > a > div > [class*="count"] {
    margin: 0px 0px 0px auto;
    position: inherit;
    top: inherit;
    right: inherit;
    order: 5;
    z-index: inherit;
}
.list > a > div > img {
    width: 48px;
    height: 48px;
}
.list > a > div > i {
    font-size: 48px;
}
.list > a > div > h4 {
    font-size: 16px;
    flex: 1;
}
.list > a > div > [class*="tags"] {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 !important;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Disabled */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.disabled {
    filter: grayscale(1);
    pointer-events: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Separator */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.separator,
.separatorOr,
.separatorVertical {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    width: 100%;
    height: 1px;
    position: relative;
    background-color: var(--separator-color);
}
.separator + .separator {
    display: none;
}
.separatorVertical {
    min-width: inherit;
    width: 1px;
    min-height: 20px;
    height: 100%;
}
.separatorOr {
    margin: 19.5px 0px;
}
.separatorOr > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    color: var(--text-inactive-color);
    text-transform: uppercase;
    border-radius: 100px;
    background-color: var(--background-sub-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Locked */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.locked {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.locked::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.locked.gradient::after {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--background-sub-color), 50%, var(--background-sub-color) 100%);
    backdrop-filter: inherit;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Locked Content */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.lockedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--filter-color);
    z-index: 1;
}
.lockedContent > i {
    font-size: 24px;
    color: var(--logo-blue-color);
    margin: 0px 0px 8px 0px;
}
.lockedContent > p {
    text-align: center;
    color: var(--logo-blue-color);
    text-decoration: underline;
    font-size: 19px;
    font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Formatted Content */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.formattedContent {
    /* display: flex;
    flex-direction: column; */
    word-break: break-word;
}
.formattedContent a {
    color: var(--logo-blue-color);
    text-decoration: underline;
    text-decoration-color: transparent;
}
.formattedContent a:hover {
    text-decoration-color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal Layout */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.modalLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px 16px;
    opacity: 0;
    pointer-events: none;
    background-color: var(--filter-color);
    backdrop-filter: blur(10px);
    z-index: 9000;
}
.modalLayout.open {
    opacity: 1;
    pointer-events: all;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal ( Base ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.modal.firstType {
    border-radius: 15px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Modal ( Register ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.modal[data-modal="register"] {
    max-width: 892px;
}
.modal[data-modal="register"] > div {
    display: flex;
    align-items: center;
}
.modal[data-modal="register"] > div > i {
    margin: 0px 16px 0px 0px;
    font-size: 40px;
    color: var(--warning-color);
}
.modal[data-modal="register"] > div > p {
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 800;
}
.modal[data-modal="register"] > div:first-of-type {
    padding: 24px calc((24px + 16px) + 30px) 24px 24px;
}
.modal[data-modal="register"] > div:last-of-type {
    padding: 24px 24px 24px calc((24px + 16px) + 35px);
    background-color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Custom Tool Tips */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
[data-type="tooltip"] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
[data-type="tooltip"]:before,
[data-type="tooltip"]:after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -10px, 0);
    z-index: 10;
}
[data-type="tooltip"]:before {
    width: max-content;
    padding: 8px;
    bottom: 100%;
    content: attr(data-tooltip);
    color: var(--logo-blue-color);
    white-space: break-spaces;
    background-color: var(--background-sub-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
[data-type="tooltip"]:after {
    width: 0px;
    height: 0px;
    bottom: calc(100% - 6px);
    content: "";
	border-top: 6px solid var(--logo-blue-color); 
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
[data-type="tooltip"]:hover:before,
[data-type="tooltip"]:hover:after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Custom Devtools */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
[data-type="devtools"] {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    transform: translateY(0%);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    z-index: 10000;
}
[data-type="devtools"].closed {
    transform: translateY(100%);
}
[data-type="devtools"] > p {
    margin: 0px 16px 0px 0px;
    color: var(--logo-blue-color);
    text-transform: uppercase;
    font-weight: bold;
}
[data-type="devtools"] > div + div {
    margin: 0px 0px 0px 8px;
}
[data-type="devtools"] > button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--background-sub-color);
}
[data-type="devtools"] > button:hover {
    background-color: var(--logo-blue-color);
}
[data-type="devtools"] > button:hover > i {
    color: var(--perfect-white-color);
}
[data-type="devtools"].closed > button > i {
    transform: rotate(-180deg);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Large call to action */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.large-callToAction {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    border: 1px dashed var(--border-color);
    background-color: var(--background-sub-color);
    margin-top: 2rem;
    font-size: 21px;
    font-weight: 400;
    color: var(--text-main-color);
}
.large-callToAction i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--paleblue-color);
    color: var(--text-main-color);
}
.large-callToAction:hover {
    background-color: var(--paleblue-color);
}
.large-callToAction:hover i {
    background-color: var(--logo-blue-color);
    color: var(--text-main-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Selector buttons */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.selectorButton {
    box-sizing: border-box;
    background: none;
    scroll-behavior: smooth;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    overflow: visible;
    display: inline-block;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    border-radius: 24px;
    z-index: 1;
    text-transform: initial;
    padding: 15px 16px 14px;
    color: #5a5859;
    font-weight: 800;
    cursor: pointer;
    margin: 0 !important;
}
.selectorButton:hover {
    background-color: #e7e7e7;
}
.selectorButtonActive {
    box-sizing: border-box;
    background: none;
    scroll-behavior: smooth;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    appearance: button;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    display: flex !important;
    align-items: center !important;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    border-radius: 24px;
    z-index: 1;
    text-transform: initial;
    padding: 15px 16px 14px;
    background-color: var(--perfect-black-color);
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    margin: 0 !important;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Lift on hover */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.lift:hover {
    box-shadow: 0 1rem 2.5rem rgb(22 28 45 / 10%), 0 0.5rem 1rem -0.75rem rgb(22 28 45 / 10%);
    transform: translateY(-3px);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Rounded Icon ( Base ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionRoundedIcon,
.callToActionAlternativeRoundedIcon,
.callToActionNegativeRoundedIcon,
.callToActionNegativeAlternativeRoundedIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: var(--border);
    border-color: var(--logo-blue-color);
}
.callToActionRoundedIcon > i,
.callToActionAlternativeRoundedIcon > i,
.callToActionNegativeRoundedIcon > i,
.callToActionNegativeAlternativeRoundedIcon > i {
    font-size: 16px;
}
.callToActionRoundedIcon > i.fa-ellipsis,
.callToActionAlternativeRoundedIcon > i.fa-ellipsis,
.callToActionNegativeRoundedIcon > i.fa-ellipsis,
.callToActionNegativeAlternativeRoundedIcon > i.fa-ellipsis {
    font-size: 26px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Rounded Icon */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionRoundedIcon {
    background-color: var(--logo-blue-color);
}
.callToActionRoundedIcon:hover {
    background-color: var(--background-sub-color);
}
.callToActionRoundedIcon > i {
    color: var(--perfect-white-color);
}
.callToActionRoundedIcon:hover > i {
    color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Alternative Rounded Icon */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionAlternativeRoundedIcon {
    background-color: var(--background-sub-color);
}
.callToActionAlternativeRoundedIcon:hover {
    background-color: var(--logo-blue-color);
}
.callToActionAlternativeRoundedIcon > i {
    color: var(--logo-blue-color);
}
.callToActionAlternativeRoundedIcon:hover > i {
    color: var(--perfect-white-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action ( Base ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToAction,
.callToActionAlternative,
.callToActionNegative,
.callToActionNegativeAlternative {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 11px 21px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    border: var(--border);
    border-color: var(--logo-blue-color);
    letter-spacing: 1.79px;
    width: fit-content;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToAction {
    color: var(--perfect-white-color);
    background-color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Alternative */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionAlternative {
    color: var(--logo-blue-color);
    background-color: var(--background-sub-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Negative */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionNegative {
    color: var(--logo-blue-color);
    border-color: var(--background-sub-color);
    background-color: var(--background-sub-color);
}
.callToActionNegative:hover {
    color: var(--perfect-white-color);
    background-color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Call To Action Wide ( Base ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionWide {
    width: 100%;
    padding: 16px;
    position: relative;
    border: var(--border);
    border-style: dashed;
    border-radius: 10px;
    background-color: var(--background-sub-color);
}
.callToActionWide:hover {
    background-color: var(--paleblue-color);
}
.callToActionWide > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 32px;
    background-color: var(--paleblue-color);
}
.callToActionWide:hover > .icon {
    background-color: var(--logo-blue-color);
}
.callToActionWide > p {
    margin: 8px auto auto auto;
    font-family: "Nunito Sans";
    font-size: 21px;
    color: var(--logo-blue-color);
}
.callToActionWide > .icon > i {
    font-size: 30px;
    color: var(--logo-blue-color);
}
.callToActionWide:hover > .icon > i {
    color: var(--white-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Placeholders */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.placeholder {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Spacer */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.spacer {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--background-main-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* RGB Feature */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
*[data-rgb]::before,
*[data-rgb]::after {
    width: calc(100% + (2 * 2px));
    height: calc(100% + (2 * 2px));
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    border-radius: 15px;
    background: var(--gradient-rgb);
    background-size: 400%;
    animation: rgb 20s linear infinite;
    z-index: -1;
}
*[data-rgb]::before {
    filter: blur(100px);
}
*[data-rgb="enabled"]::before,
*[data-rgb="enabled"]::after {
    opacity: 1;
}
@keyframes rgb {
	0% {
		background-position: 0% 0%;
	} 50% {
		background-position: 400% 0%;
	} 100% {
		background-position: 0% 0%;
	}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Opportunity Types */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
[data-opportunity-type="1"] {
    background-color: var(--project-color);
}
[data-opportunity-type="2"] {
    background-color: var(--program-color);
}
[data-opportunity-type="3"] {
    background-color: var(--challenge-color);
}
[data-opportunity-type="4"] {
    background-color: var(--event-color);
}
[data-opportunity-type="5"] {
    background-color: var(--offer-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Home ( Carousels ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
div[data-carousel] {
	position: relative;
}