/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tags */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.tags {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.tags > .tag:first-of-type {
    margin: 8px 8px 0px 0px;
}
.tags > * + * {
    margin: 8px 8px 0px 0px;
}
.tags > .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    height: 24px;
    max-height: 24px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(var(--lightblue-color));
}
.tags > .tag > p {
    margin: 0px;
    color: rgb(var(--main-color));
}
.tags > .tag.main {
    min-height: 32px;
    height: 32px;
    max-height: 32px;
    background-color: rgb(var(--paleblue-color));
}
.tags > .tag.main > p {
    font-size: 16px;
}
.tags.alternative > .tag {
    background-color: rgb(var(--main-color));
}
.tags.alternative > .tag > p {
    color: rgb(var(--white-color));
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Details */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.profileDetails {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 15px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
}
.profileDetails > .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileDetails > .details > div {
    display: flex;
    flex: 1;
}
.profileDetails > .details > div > .label {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--text-inactive-color));
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Products */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.profileProducts {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profileProducts > .label {
    margin: 0px 0px 16px 16px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--text-inactive-color));
}
.profileProducts > .products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .profileProducts > .products {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
.profileProducts > .products > .product {
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 8px);
    margin: 0px 8px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.profileProducts > .products > .product:hover {
    transform: scale(1.02);
    box-shadow: var(--darker-box-shadow);
    z-index: 1;
}
.profileProducts > .products > .product:nth-of-type(2n) {
    margin: 0px 0px 0px 8px;
}
.profileProducts > .products > .product:nth-of-type(1n + 2) + * {
    margin-top: 16px;
}
@media screen and (max-width: 1200px) {
    .profileProducts > .products > .product {
        width: 100%;
    }
    .profileProducts > .products > .product + .product {
        margin: 16px 0px 0px 0px;
    }
}
.profileProducts > .products > .product > .banner {
    width: 100%;
    height: 128px;
    position: relative;
}
.profileProducts > .products > .product > .banner > img {
    width: 100% !important;
    min-height: 128px !important;
    height: 128px !important;
    max-height: 128px !important;
    position: initial !important;
    top: inherit !important;
    right: inherit !important;
    bottom: inherit !important;
    left: inherit !important;
    object-fit: cover !important;
}
.profileProducts > .products > .product > .banner > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: 600;
    color: rgb(var(--white-color));
    text-transform: uppercase;
    border-radius: 100px;
    background-color: rgb(var(--main-color));
    z-index: 1;
}
.profileProducts > .products > .product > .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
}
.profileProducts > .products > .product > .content > .productType {
    margin: 0px 0px 8px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(var(--text-inactive-color));
}
.profileProducts > .products > .product > .content > .productName {
    margin: 0px;
    font-weight: bold;
    font-size: 21px;
    font-family: "Nunito Sans";
}
.profileProducts > .seeMore {
    margin: 8px 16px 0px auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Ecosystem */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.profileEcosystem {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profileEcosystem > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
.profileEcosystem > .content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
}
.profileEcosystem > .content > .label,
.profileEcosystem > .content > .wishlist > .label {
    margin: 0px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--text-inactive-color));
}
.profileEcosystem > .content > .wishlist > .label {
    margin: 16px 0px 8px 0px;
}
.profileEcosystem > .content > .wishlist > .label > i {
    margin: 0px 8px 0px 0px;
    color: rgb(var(--error-color));
}
.profileEcosystem > .content > p:not(.label) {
    margin: 0px;
}
.profileEcosystem > .content > .clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0px 0px 0px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .profileEcosystem > .content > .clients {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
.profileEcosystem > .content > .clients > .client {
    display: flex;
    width: calc((100% / 2) - 8px);
    max-height: 218px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.profileEcosystem > .content > .clients > .client:nth-of-type(2n) {
    margin: 0px 0px 0px 8px;
}
.profileEcosystem > .content > .clients > .client:nth-of-type(1n + 2) + * {
    margin-top: 16px;
}
@media screen and (max-width: 1200px) {
    .profileEcosystem > .content > .clients > .client {
        width: 100%;
    }
    .profileEcosystem > .content > .clients > .client + .client {
        margin: 16px 0px 0px 0px;
    }
}
.profileEcosystem > .content > .clients > .client > .marker {
    min-width: 8px;
    width: 8px;
    max-width: 8px;
    background-color: rgb(var(--main-color));
}
.profileEcosystem > .content > .clients > .client > .content {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 8px;
}
.profileEcosystem > .content > .clients > .client > .content > * + * {
    margin: 8px 0px 0px 0px;
}
.profileEcosystem > .content > .clients > .client > .content > .identity {
    display: flex;
    align-items: center;
}
.profileEcosystem > .content > .clients > .client > .content > .identity > img {
    width: 48px !important;
    height: 48px !important;
    top: inherit !important;
    right: inherit !important;
    bottom: inherit !important;
    left: inherit !important;
    object-fit: cover !important;
    border-radius: 24px !important;
}
.profileEcosystem > .content > .clients > .client > .content > .identity > .clientName {
    margin: 0px 0px 0px 8px;
    font-size: 16px;
    font-weight: bold;
}
.profileEcosystem > .content > .seeMore {
    margin: 8px 16px 0px auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Partners */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.profilePartners {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
}
.profilePartners > .label {
    margin: 0px 0px 8px 0px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(var(--text-inactive-color));
}
.profilePartners > .label > i {
    margin: 0px 8px 0px 0px;
    color: rgb(var(--error-color));
}
.profilePartners > p:not(.label) {
    margin: 0px;
}
.profilePartners > .partners {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0px 0px 0px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .profilePartners > .partners {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
.profilePartners > .partners > .partner {
    display: flex;
    width: calc((100% / 2) - 8px);
    max-height: 218px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.profilePartners > .partners > .partner:nth-of-type(2n) {
    margin: 0px 0px 0px 8px;
}
.profilePartners > .partners > .partner:nth-of-type(1n + 2) + * {
    margin-top: 16px;
}
@media screen and (max-width: 1200px) {
    .profilePartners > .partners > .partner {
        width: 100%;
    }
    .profilePartners > .partners > .partner + .partner {
        margin: 16px 0px 0px 0px;
    }
}
.profilePartners > .partners > .partner > .marker {
    min-width: 8px;
    width: 8px;
    max-width: 8px;
    background-color: rgb(var(--logo-green-color));
}
.profilePartners > .partners > .partner > .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px 16px 16px 8px;
}
.profilePartners > .partners > .partner > .content > .identity {
    display: flex;
    align-items: center;
}
.profilePartners > .partners > .partner > .content > .identity > img {
    width: 48px !important;
    height: 48px !important;
    position: initial !important;
    top: inherit !important;
    right: inherit !important;
    bottom: inherit !important;
    left: inherit !important;
    object-fit: cover !important;
    border-radius: 24px !important;
}
.profilePartners > .partners > .partner > .content > .identity > .partnerName {
    margin: 0px 0px 0px 8px;
    font-size: 16px;
    font-weight: bold;
}
.profilePartners > .seeMore {
    margin: 8px 16px 0px auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Team */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.profileTeam {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profileTeam > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
.profileTeam > .team {
    display: flex;
    flex-direction: column;
}
.profileTeam > .team > * + * {
    margin: 16px 0px 0px 0px;
}
.profileTeam > .team > .member {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
}
.profileTeam > .team > .member > .main {
    display: flex;
    width: 100%;
    position: relative;
}
.profileTeam > .team > .member > .main > i {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    width: 80px;
    max-width: 80px;
    min-height: 80px;
    height: 80px;
    max-height: 80px;
    font-size: 30px;
    color: rgb(var(--white-color));
    border-radius: calc(80px / 2);
    background-color: rgb(var(--main-color));
}
.profileTeam > .team > .member > .main > .identity {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 16px;
}
.profileTeam > .team > .member > .main > .identity > .fullname {
    font-weight: bold;
    font-size: 18px;
    color: rgb(var(--text-main-color));
}
.profileTeam > .team > .member > .main > .identity > .job {
    margin: 8px 0px 0px 0px;
    color: rgb(var(--text-inactive-color));
}
.profileTeam > .team > .member > .main > .message {
    position: absolute;
    top: 0;
    right: 0;
}
.profileTeam > .team > .member > .main > .message > i {
    font-size: 24px;
    color: rgb(var(--main-color));
}
.profileTeam > .team > .member > .main > .seeMore {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Activity */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.profileActivity {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profileActivity > h3 {
    margin: 0px 0px 16px 16px;
    font-size: 24px;
    font-weight: 800;
}
.profileActivity > .activities {
    display: flex;
    flex-direction: column;
}
.profileActivity > .activities > * + * {
    margin: 16px 0px 0px 0px;
}
.profileActivity > .activities > .activity {
    display: flex;
    border-radius: 5px;
    background-color: rgb(var(--background-sub-color));
    box-shadow: var(--box-shadow);
}
.profileActivity > .activities > .activity > .marker {
    min-width: 8px;
    width: 8px;
    max-width: 8px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(var(--logo-orange-color));
}
.profileActivity > .activities > .activity > .content {
    flex: 1;
    padding: 16px 16px 16px calc((55px / 2) + 16px);
    position: relative;
}
.profileActivity > .activities > .activity > .content > img {
    width: 55px !important;
    height: 55px !important;
    position: absolute !important;
    top: 16px !important;
    right: inherit !important;
    bottom: inherit !important;
    left: calc((-55px / 2)) !important;
    border: var(--border) !important;
    border-color: rgb(var(--white-color)) !important;
    border-width: 2px !important;
    border-radius: calc(55px / 2) !important;
}
.profileActivity > .activities > .activity > .content > .user {
    margin: 0px 0px 16px 0px;
    font-weight: 900;
    font-family: "Nunito Sans";
    font-size: 21px;
}
.profileActivity > .activities > .activity > .content > .time {
    margin: 0px;
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgb(var(--text-inactive-color));
}