/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Global Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
#profile > .details {
    display: flex;
    margin: 54px 0px 0px 0px !important;
}
@media screen and (max-width: 990px) {
    #profile > .details {
        flex-direction: column;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Left Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
#profile > .details > .leftSide {
    display: flex;
    flex-direction: column;
    min-width: 296px;
    width: 296px;
    max-width: 296px;
    margin: 0px 24px 0px 0px;
}
@media screen and (max-width: 990px) {
    #profile > .details > .leftSide {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Left's Containers ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
#profile > .details > .leftSide * + * {
    margin: 16px 0px 0px 0px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Content Container ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
#profile > .details > .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#profile > .details > .content > * + * {
    margin: 16px 0px 0px 0px;
}