/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form ( Base ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.form {
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form ( Row ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.row {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
    }
}
.row + .row {
    margin: 16px 0px 0px 0px;
}
.row > * {
    width: 100%;
}
.row > a:not([class*="callToAction"]) {
    width: fit-content;
    margin: auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form ( Column ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.column + .column {
    margin: 0px 0px 0px 16px;
}
@media screen and (max-width: 576px) {
    .column + .column {
        margin: 16px 0px 0px 0px;
    }
}