/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form ( Base ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.form {
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form ( Row ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.row {
    display: flex;
    width: 100%;
}
.row + .row {
    margin: 16px 0px 0px 0px;
}
.row * {
    width: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form ( Column ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.column + .column {
    margin: 0px 0px 0px 16px;
}