/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Navbar */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px calc(50px - var(--space-16));
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
@media screen and (max-width: 576px) {
    .navbar {
        padding: 0px;
    }
}
.navbar > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px var(--space-16);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Logo */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.logo {
    display: flex;
    align-items: center;
    z-index: 1;
}
.logo > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > a > img {
    margin: 0px var(--space-8) 0px 0px;
    object-fit: contain;
}
.logo > a > span {
    font-size: 26px;
    font-weight: bold;
    font-family: "Montserrat Alternates";
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Links */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.links {
    display: flex;
    align-items: center;
    height: 100%;
    transition: top 0.3s ease-in-out;
    z-index: 1;
}
@media screen and (max-width: 1200px) {
    .links {
        position: fixed;
        top: -100%;
    }
}
.links > li {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}
.links > li > a,
.links > li > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    border-bottom: var(--border-1);
    border-width: 2px;
    border-color: transparent;
    transition: border-color 0.3s ease-in-out;
}
.links > * + * {
    margin: 0px 0px 0px var(--space-16);
}
.links > li > a:hover,
.links > li > a.active,
.links > li > button:hover,
.links > li > button.active {
    border-color: var(--logo-blue-color);
}
.links > li > a > span,
.links > li > button > span {
    transition: color 0.3s ease-in-out;
}
.links > li > a:hover > span,
.links > li > a.active > span,
.links > li > button:hover > span,
.links > li > button.active > span {
    color: var(--logo-blue-color);
}
.links > li > a:only-child:hover {
    border-color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Nested Links */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.nestedLinks {
    display: flex;
    flex-direction: column;
    padding: var(--space-16);
    position: absolute;
    top: calc(70px - 5px);
    opacity: 0;
    pointer-events: none;
    border-radius: var(--radius-5);
    border-top: var(--border-1);
    border-width: 5px;
    border-color: var(--logo-blue-color);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    transition: opacity 0.3s ease-in-out;
}
.nestedLinks > li + li {
    border-top: var(--border-1);
}
.nestedLinks > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    white-space: nowrap;
}
.nestedLinks > li > a:hover > span,
.nestedLinks > li > a.active > span,
.nestedLinks > li > button:hover > span,
.nestedLinks > li > button.active > span {
    color: var(--logo-blue-color);
}
.nestedLinks > li > a.active > span,
.nestedLinks > li > button.active > span {
    font-weight: bold;
}
.navbar > .links > li > a + ul.show,
.navbar > .links > li > button + ul.show,
.navbar > .links > li > a + ul.show,
.navbar > .links > li > button + ul.show {
    opacity: 1;
    pointer-events: all;
}
/* @media screen and (max-width: 992px) {
    .navbar > .links > li > ul {
        flex-direction: column;
        width: 100%;
        max-height: 0px;
        padding: 0px;
        position: initial;
        opacity: 0;
        border-top: var(--border-1);
        border-radius: inherit;
        box-shadow: inherit;
        overflow: hidden;
    }
    .navbar > .links > li > ul.show {
        opacity: 1;
        max-height: max-content;
    }
    .navbar > .links > li > ul > li + li {
        border-top: none;
    }
} */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Actions */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.actions {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--background-sub-color);
    z-index: 1;
}
.actions > * + * {
    margin: 0px 0px 0px var(--space-8);
}
@media screen and (max-width: 992px) {
    .actions {
        padding: var(--space-8);
        position: absolute;
        top: calc(70px + var(--space-16));
        right: calc(-100% - var(--space-16));
        pointer-events: none;
        box-shadow: var(--box-shadow);
        transition: right 0.3s ease-in-out;
    }
    .links.show + .actions {
        right: var(--space-16);
        pointer-events: all;
    }
    .actions > [class*="selectField"] {
        border-radius: 50px 0px 0px 50px;
    }
}