/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Card */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.card {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    max-width: 500px;
    border: var(--border);
    border-width: 5px;
    border-color: transparent;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    transition: border-color 0.3s ease-in-out;
}
.card:hover {
    border-color: var(--logo-blue-color);
}
@media screen and (max-width: 576px) {
    .card {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.header {
    display: flex;
    padding: 16px;
}
@media screen and (max-width: 576px) {
    .header > img {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Body */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.body {
    display: flex;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
    max-width: 100%;
    padding: 0px 16px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Left Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.body > .leftContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: max-content;
}
.body > .leftContainer > img {
    top: calc(((100px / 2) + 16px) * -1);
    border: var(--border);
    border-width: 5px;
    border-color: var(--background-sub-color);
    border-radius: 50px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Right Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.body > .rightContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    max-width: calc(100% - (1px + (2 * 16px) + 100px));
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Title */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.title {
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.footer {
    padding: 0px 16px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Banner */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.banner {
    padding: 0;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}