.annuaire__category {
    background-color: var(--background-sub-color);
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 7%);
    position: relative;
    cursor: pointer;
    padding: 2rem 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.annuaire__category_logo {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.annuaire__category_count {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 40px;
    width: 40px;
    background-color: var(--background-main-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

.annuaire__category_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--text-main-color);
    margin: 0;
}

.annuaire__category_tags {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.annuaire__category_tag {
    background-color: #f0f6ff;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1px;
    text-align: center;
    color: #006dff;
    padding: 0.25rem;
    margin-right: 0.25rem;
}