/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Rounded Icon ) Core */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionRoundedIcon,
.callToActionAlternativeRoundedIcon,
.callToActionNegativeRoundedIcon,
.callToActionNegativeAlternativeRoundedIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: var(--border);
    border-color: var(--logo-blue-color);
    
}
.callToActionRoundedIcon > i,
.callToActionAlternativeRoundedIcon > i,
.callToActionNegativeRoundedIcon > i,
.callToActionNegativeAlternativeRoundedIcon > i {
    font-size: 16px;
}
.callToActionRoundedIcon > i.fa-ellipsis,
.callToActionAlternativeRoundedIcon > i.fa-ellipsis,
.callToActionNegativeRoundedIcon > i.fa-ellipsis,
.callToActionNegativeAlternativeRoundedIcon > i.fa-ellipsis {
    font-size: 26px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Rounded Icon ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionRoundedIcon {
    background-color: var(--logo-blue-color);
}
.callToActionRoundedIcon:hover {
    background-color: var(--background-sub-color);
}
.callToActionRoundedIcon > i {
    color: var(--perfect-white-color);
}
.callToActionRoundedIcon:hover > i {
    color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Alternative Rounded Icon ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionAlternativeRoundedIcon {
    background-color: var(--background-sub-color);
}
.callToActionAlternativeRoundedIcon:hover {
    background-color: var(--logo-blue-color);
}
.callToActionAlternativeRoundedIcon > i {
    color: var(--logo-blue-color);
}
.callToActionAlternativeRoundedIcon:hover > i {
    color: var(--perfect-white-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action ) Core */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToAction,
.callToActionAlternative,
.callToActionNegative,
.callToActionNegativeAlternative,
.callToActionSquared,
.callToActionStep {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 11px 21px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    border: var(--border);
    border-color: var(--logo-blue-color);
    
}
@media screen and (max-width: 576px) {
    .callToAction,
    .callToActionAlternative,
    .callToActionNegative,
    .callToActionNegativeAlternative,
    .callToActionSquared,
    .callToActionStep {
        flex-wrap: wrap;
        height: fit-content;
        white-space: initial;
    } 
}
.callToAction > i,
.callToActionAlternative > i,
.callToActionNegative > i,
.callToActionNegativeAlternative > i,
.callToActionSquared > i,
.callToActionStep > i {
    margin: 0px 8px 0px 0px;
    font-size: 16px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToAction {
    color: var(--perfect-white-color);
    background-color: var(--logo-blue-color);
}
.callToAction:hover {
    color: var(--logo-blue-color);
    background-color: transparent;
}
.callToAction > i {
    color: var(--perfect-white-color);
}
.callToAction:hover > i {
    color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Alternative ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionAlternative {
    color: var(--logo-blue-color);
    background-color: transparent;
}
.callToActionAlternative:hover {
    color: var(--perfect-white-color);
    background-color: var(--logo-blue-color);
}
.callToActionAlternative > i {
    color: var(--logo-blue-color);
}
.callToActionAlternative:hover > i {
    color: var(--perfect-white-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Negative ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionNegative {
    color: var(--logo-blue-color);
    border-color: var(--background-sub-color);
    background-color: var(--background-sub-color);
}
.callToActionNegative:hover {
    color: var(--perfect-white-color);
    background-color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Squared ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionSquared {
    padding: 32px 16px;
    font-size: 19px;
    color: var(--logo-blue-color);
    text-transform: initial;
    border-radius: 10px;
    background-color: var(--background-sub-color);
}
.callToActionSquared:hover {
    background-color: var(--paleblue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionStep {
    border-color: var(--text-inactive-color);
    background-color: var(--background-main-color);
}
.callToActionStep:hover {
    border-color: var(--light-grey-color);
    background-color: var(--light-grey-color);
}
.callToActionStep.active {
    color: var(--perfect-white-color);
    border-color: var(--perfect-grey-color);
    background-color: var(--perfect-grey-color);
}
.callToActionStep > i {
    color: var(--text-inactive-color);
}
.callToActionStep:hover > i {
    color: var(--perfect-black-color);
}
.callToActionStep.active > i {
    color: var(--perfect-white-color);
}
.callToActionStep > p {
    color: var(--text-inactive-color);
}
.callToActionStep:hover > p {
    color: var(--perfect-black-color);
}
.callToActionStep.active > p {
    color: var(--perfect-white-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Call To Action Wide ) Core */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.callToActionWide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    position: relative;
    border: var(--border);
    border-style: dashed;
    border-radius: 10px;
    background-color: var(--background-sub-color);
}
.callToActionWide:hover {
    background-color: var(--paleblue-color);
}
.callToActionWide > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: auto auto 8px auto;
    font-size: 30px;
    color: var(--logo-blue-color);
    border-radius: 32px;
    background-color: var(--paleblue-color);
    
}
.callToActionWide:hover > i {
    background-color: var(--perfect-white-color);
}
.callToActionWide > p {
    font-family: "Nunito Sans";
    font-size: 21px;
    color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( See More ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.moreOrLess {
    color: var(--text-inactive-color);
}
.moreOrLess > span {
    margin: 0px 8px 0px 0px;
    color: var(--text-inactive-color);
}
.moreOrLess > i {
    font-size: 11px;
    color: var(--text-inactive-color);
    transform: rotate(90deg);
    
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( See More Alternative ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.moreOrLessAlternative {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 16px auto auto auto;
    color: var(--text-inactive-color);
    font-weight: 600;
    border: var(--border);
    border-radius: calc(32px / 2);
    
}
.moreOrLessAlternative:hover {
    background-color: var(--background-information-color);
}
.moreOrLessAlternative > span {
    padding: 8px;
    color: var(--text-inactive-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Navigation Button ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.navigationButton {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto 0px auto auto;
    z-index: 1;
}
@media screen and (max-width: 992px) {
    .navigationButton {
        display: flex;
    }
}
.navigationButton > span {
    width: 25px;
    height: 2px;
    background-color: var(--logo-blue-color);
    
}
.navigationButton > span + span {
    margin: 8px 0px 0px 0px;
}
.navigationButton.active > span:first-of-type {
    transform: translateY(0px);
    animation: firstBarAnimation 0.3s ease 0.3s forwards;
}
@keyframes firstBarAnimation {
    50% {
        transform: translateY(10px);
    } 100% {
        transform: translateY(10px) rotate(45deg);
    }
}
.navigationButton.active > span:nth-of-type(2) {
    opacity: 0;
}
.navigationButton.active > span:last-of-type {
    transform: translateY(0px);
    animation: thirdBarAnimation 0.3s ease 0.3s forwards;
}
@keyframes thirdBarAnimation {
    50% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(-10px) rotate(-45deg);
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Close Modal ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 30px;
    
}
.closeModal:hover {
    background-color: var(--paleblue-color);
}
.closeModal > i {
    font-size: 18px;
    color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button ( Classic Link ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.classicLink {
    display: flex;
    align-items: center;
    width: max-content;
    border-bottom: var(--border);
    border-color: transparent;
}
.classicLink:hover {
    border-color: var(--logo-blue-color);
}
.classicLink > p {
    color: var(--logo-blue-color);
}
.classicLink > i {
    margin: 0px 8px 0px 0px;
    color: var(--logo-blue-color);
}