/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Old Home ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.oldHome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    height: 60px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.oldHome:hover {
    transform: scale(1.05);
    background-color: var(--pastelblue-color);
}
.oldHome > i,
.oldHome > span {
    color: var(--logo-blue-color);
    font-size: 16px;
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Default ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.default {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    width: max-content;
}
.default > i,
.default > span {
    transition: color 0.3s ease-in-out;
}
.default:hover > i,
.default:hover > span,
.default.active > i,
.default.active > span {
    color: var(--logo-blue-color);
}
.default.active > span {
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Mask ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.mask {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.mask > i {
    margin: 8px 8px 8px auto;
    color: var(--light-grey-color);
}
.mask > i,
.mask > span {
    transition: color 0.3s ease-in-out;
}
.mask:hover > i,
.mask:hover > span {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Squared & Rounded Icon ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionRoundedIcon,
.callToActionAlternativeRoundedIcon,
.callToActionNegativeRoundedIcon,
.callToActionNegativeAlternativeRoundedIcon,
.callToActionSquaredIcon,
.callToActionAlternativeSquaredIcon,
.callToActionNegativeSquaredIcon,
.callToActionNegativeAlternativeSquaredIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    border-radius: 20px;
    border: var(--border);
    border-color: var(--logo-blue-color);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.callToActionSquaredIcon,
.callToActionAlternativeSquaredIcon,
.callToActionNegativeSquaredIcon,
.callToActionNegativeAlternativeSquaredIcon {
    border-radius: 0px;
}
.callToActionRoundedIcon > i,
.callToActionAlternativeRoundedIcon > i,
.callToActionNegativeRoundedIcon > i,
.callToActionNegativeAlternativeRoundedIcon > i,
.callToActionSquaredIcon > i,
.callToActionAlternativeSquaredIcon > i,
.callToActionNegativeSquaredIcon > i,
.callToActionNegativeAlternativeSquaredIcon > i {
    font-size: 16px;
}
.callToActionRoundedIcon > i,
.callToActionRoundedIcon > span,
.callToActionAlternativeRoundedIcon > i,
.callToActionAlternativeRoundedIcon > span,
.callToActionNegativeRoundedIcon > i,
.callToActionNegativeRoundedIcon > span,
.callToActionNegativeAlternativeRoundedIcon > i,
.callToActionNegativeAlternativeRoundedIcon > span,
.callToActionSquaredIcon > i,
.callToActionSquaredIcon > span,
.callToActionAlternativeSquaredIcon > i,
.callToActionAlternativeSquaredIcon > span,
.callToActionNegativeSquaredIcon > i,
.callToActionNegativeSquaredIcon > span,
.callToActionNegativeAlternativeSquaredIcon > i,
.callToActionNegativeAlternativeSquaredIcon > span  {
    transition: color 0.3s ease-in-out;
}
.callToActionRoundedIcon > i[class*="ellipsis"],
.callToActionAlternativeRoundedIcon > i[class*="ellipsis"],
.callToActionNegativeRoundedIcon > i[class*="ellipsis"],
.callToActionNegativeAlternativeRoundedIcon > i[class*="ellipsis"],
.callToActionSquaredIcon > i[class*="ellipsis"],
.callToActionAlternativeSquaredIcon > i[class*="ellipsis"],
.callToActionNegativeSquaredIcon > i[class*="ellipsis"],
.callToActionNegativeAlternativeSquaredIcon > i[class*="ellipsis"] {
    font-size: 24px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Rounded Icon ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionRoundedIcon {
    background-color: var(--logo-blue-color);
}
.callToActionRoundedIcon:hover {
    background-color: var(--background-sub-color);
}
.callToActionRoundedIcon > i,
.callToActionRoundedIcon > span {
    color: var(--perfect-white-color);
}
.callToActionRoundedIcon:hover > i,
.callToActionRoundedIcon:hover > span {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Alternative Rounded Icon ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionAlternativeRoundedIcon {
    background-color: var(--background-sub-color);
}
.callToActionAlternativeRoundedIcon:hover {
    background-color: var(--logo-blue-color);
}
.callToActionAlternativeRoundedIcon > i,
.callToActionAlternativeRoundedIcon > span {
    color: var(--logo-blue-color);
}
.callToActionAlternativeRoundedIcon:hover > i,
.callToActionAlternativeRoundedIcon:hover > span {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Alternative Squared Icon ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionAlternativeSquaredIcon {
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--lightblue-color);
}
.callToActionAlternativeSquaredIcon:hover,
.callToActionAlternativeSquaredIcon.active {
    background-color: var(--logo-blue-color);
}
.callToActionAlternativeSquaredIcon > i {
    font-size: 20px;
    color: var(--logo-blue-color);
}
.callToActionAlternativeSquaredIcon:hover > i,
.callToActionAlternativeSquaredIcon.active > i {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToAction,
.callToActionAlternative,
.callToActionNegative,
.callToActionNegativeAlternative,
.callToActionSquared,
.callToActionStep,
.callToActionOldGrey {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    height: 40px;
    padding: 8px 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    border: var(--border);
    border-color: var(--logo-blue-color);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
    .callToAction,
    .callToActionAlternative,
    .callToActionNegative,
    .callToActionNegativeAlternative,
    .callToActionSquared,
    .callToActionStep,
    .callToActionOldGrey {
        flex-wrap: wrap;
        height: fit-content;
        white-space: initial;
    } 
}
.callToAction > i,
.callToActionAlternative > i,
.callToActionNegative > i,
.callToActionNegativeAlternative > i,
.callToActionSquared > i,
.callToActionStep > i,
.callToActionOldGrey > i {
    font-size: 16px;
}
.callToAction > i,
.callToAction > span,
.callToActionAlternative > i,
.callToActionAlternative > span,
.callToActionNegative > i,
.callToActionNegative > span,
.callToActionNegativeAlternative > i,
.callToActionNegativeAlternative > span,
.callToActionSquared > i,
.callToActionSquared > span,
.callToActionStep > i,
.callToActionStep > span,
.callToActionOldGrey > i,
.callToActionOldGrey > span {
    transition: color 0.3s ease-in-out;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToAction {
    background-color: var(--logo-blue-color);
    color: var(--perfect-white-color);
}
.callToAction:hover {
    background-color: transparent;
    color: var(--logo-blue-color);
}
.callToAction > i,
.callToAction > span {
    color: var(--perfect-white-color);
}
.callToAction:hover > i,
.callToAction:hover > span {
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Alternative ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionAlternative {
    background-color: transparent;
}
.callToActionAlternative:hover {
    background-color: var(--logo-blue-color);
}
.callToActionAlternative > i,
.callToActionAlternative > span {
    color: var(--logo-blue-color);
}
.callToActionAlternative:hover > i,
.callToActionAlternative:hover > span {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Negative ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionNegative {
    border-color: var(--background-sub-color);
    background-color: var(--background-sub-color);
}
.callToActionNegative:hover {
    border-color: var(--logo-blue-color);
    background-color: var(--logo-blue-color);
}
.callToActionNegative > i,
.callToActionNegative > span {
    color: var(--logo-blue-color);
}
.callToActionNegative:hover > i,
.callToActionNegative:hover > span {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Squared ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionSquared {
    padding: 32px 16px;
    font-size: 19px;
    text-transform: initial;
    border-radius: 10px;
    background-color: var(--background-sub-color);
}
.callToActionSquared:hover {
    background-color: var(--paleblue-color);
}
.callToActionSquared > span {
    color: var(--logo-blue-color);
    text-transform: uppercase;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionStep {
    border-color: var(--text-inactive-color);
    background-color: var(--background-main-color);
}
.callToActionStep:hover,
.callToActionStep.active {
    border-color: var(--light-grey-color);
    background-color: var(--light-grey-color);
}
.callToActionStep > i,
.callToActionStep > span {
    color: var(--text-inactive-color);
}
.callToActionStep:hover > i,
.callToActionStep.active > i,
.callToActionStep:hover > span,
.callToActionStep.active > span {
    color: var(--perfect-black-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Old Grey ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionOldGrey {
    border: none;
    background-color: var(--lighter-grey-color);
}
.callToActionOldGrey:hover {
    background-color: var(--light-grey-color);
}
.callToActionOldGrey > i,
.callToActionOldGrey > span {
    color: var(--perfect-grey-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Call To Action Wide ) Core */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.callToActionWide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    position: relative;
    border: var(--border);
    border-style: dashed;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    transition: background-color 0.3s ease-in-out;
}
.callToActionWide:hover {
    background-color: var(--paleblue-color);
}
.callToActionWide > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: auto auto 8px auto;
    font-size: 30px;
    color: var(--logo-blue-color);
    border-radius: 32px;
    background-color: var(--paleblue-color);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.callToActionWide:hover > i {
    background-color: var(--lightblue-color);
}
.callToActionWide > span {
    font-family: "Nunito Sans";
    font-size: 21px;
    color: var(--logo-blue-color);
}
/* .callToActionWide:hover > span {
    font-weight: bold;
} */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( See More ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.moreOrLess {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    color: var(--text-inactive-color);
}
.moreOrLess > i {
    font-size: 11px;
    color: var(--text-inactive-color);
    transform: rotate(90deg);
}
.moreOrLess > span {
    color: var(--text-inactive-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( See More Alternative ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.moreOrLessAlternative {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 16px auto auto auto;
    color: var(--text-inactive-color);
    font-weight: 600;
    border: var(--border);
    border-radius: calc(32px / 2);
}
.moreOrLessAlternative:hover {
    background-color: var(--background-information-color);
}
.moreOrLessAlternative > span {
    padding: 8px;
    color: var(--text-inactive-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Navigation Button ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.navigationButton {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 1;
}
@media screen and (max-width: 992px) {
    .navigationButton {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        gap: 8px;
    }
}
.navigationButton > span {
    width: 25px;
    height: 2px;
    background-color: var(--logo-blue-color);
}
.navigationButton.active > span:nth-of-type(2) {
    opacity: 0;
}
.navigationButton.active > span:first-of-type {
    transform: translateY(0px) rotate(0deg);
    animation: firstBarAnimation 0.3s ease-in-out 0.3s forwards;
}
@keyframes firstBarAnimation {
    0% {
        transform: translateY(0px) rotate(0deg);
    } 50% {
        transform: translateY(10px);
    } 100% {
        transform: translateY(10px) rotate(45deg);
    }
}
.navigationButton.active > span:last-of-type {
    transform: translateY(0px) rotate(0deg);
    animation: thirdBarAnimation 0.3s ease-in-out 0.3s forwards;
}
@keyframes thirdBarAnimation {
    0% {
        transform: translateY(0px) rotate(0deg);
    } 50% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(-10px) rotate(-45deg);
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Close Modal ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}
.closeModal:hover {
    background-color: var(--paleblue-color);
}
.closeModal > i {
    font-size: 18px;
    color: var(--logo-blue-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Classic Link ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.classicLink {
    display: inline-flex;
    align-items: baseline;
    grid-gap: 8px;
    gap: 8px;
    width: max-content;
    border-bottom: var(--border);
    border-color: transparent;
    transition: border-color 0.3s ease-in-out;
}
.classicLink:hover {
    border-color: var(--logo-blue-color);
}
.classicLink > i,
.classicLink > span {
    color: var(--logo-blue-color);
    line-break: auto;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Dropdown Link ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.dropdownLink {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
}
.dropdownLink:hover {
    background-color: var(--separator-color);
}
.dropdownLink.active {
    background-color: var(--logo-blue-color);
}
.dropdownLink.active > i,
.dropdownLink.active > span {
    color: var(--perfect-white-color);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Button ( Notifications ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -2.5px;
    right: -2.5px;
    font-size: 10px;
    color: var(--perfect-white-color) !important;
    background-color: var(--error-color);
    border-radius: 10px;
}