.card {
    padding: 24px;
    border-radius: 16px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.authorDetails {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    margin-bottom: 16px;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.name {
    font-size: 16px;
    font-weight: 800;
    color: var(--text-color);
}

.description {
    font-weight: 400;
}

.spacer {
    width: 100%;
    height: 2px;
    border-radius: 1.5px;
    opacity: 0.5;
    background-color: var(--inverted-color);
    margin: 32px 0;
}

.timeDetails {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    width: 100%;
    flex-wrap: wrap;
}

.timeDetails>span,
.timeDetails>a {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    opacity: 0.3;
}

.timeDetails>a {
    text-decoration: underline;
}

.dealOffer>h2 {
    font-size: 16px;
    font-weight: 800;
    color: var(--text-color);
}

.dealOffer>span {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.toOffer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer {
    font-weight: 800;
    font-size: 24px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.callToSignWrapper {
    background-color: var(--lighter-grey-color);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.callToSign {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--logo-orange-color);
}

.callToSign > span {
    font-size: 14px;
    font-weight: 800;
    color: var(--perfect-white-color);
}

.ForinovBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: var(--logo-blue-color);
    padding: 16px;
    border-radius: 8px;
}

.ForinovBanner > span {
    font-size: 14px;
    font-weight: 600;
    color: var(--perfect-white-color);
}

.ForinovBanner > a {
    font-size: 14px;
    font-weight: 600;
    color: var(--logo-blue-color);
    width: 100%;
    margin: 8px;
    padding: 16px;
    background-color: var(--perfect-white-color);
    text-decoration: underline;
    border-radius: 4px;
}

.rightSpacer {
    width: 50%;
    height: 2px;
    border-radius: 1.5px;
    opacity: 0.3;
    background-color: var(--inverted-color);
    margin: 16px 0;
}

.logo {
    width: 256px;
    height: auto;
}