/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Banners ( Identification & Recover ) */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.identificationBanner,
.recoverBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}
@media screen and (max-width: 576px) {
    .identificationBanner,
    .recoverBanner {
        flex-direction: column;
        align-items: flex-start;
    }
}
.identificationBanner {
    background-color: var(--logo-blue-color);
}
.recoverBanner {
    background-color: var(--warning-color);
}
.identificationBanner > p,
.recoverBanner > p {
    font-size: 16px;
}
.recoverBanner > p {
    color: var(--perfect-black-color);
}
.identificationBanner > p {
    color: var(--perfect-white-color);
}
.identificationBanner > .actions,
.recoverBanner > .actions {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.identificationBanner > .actions > a > p {
    color: var(--perfect-white-color);
}
.recoverBanner > .actions > button {
    color: var(--text-main-color);
}
.recoverBanner > .actions > button:hover {
    color: var(--perfect-black-color);
    background-color: var(--warning-color);
}