/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Main Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.mainContainer {
	display: flex;
	flex-direction: column;
    flex: 1;
    padding: calc(50px - var(--space-16));
	transition: border-radius 0.3s ease-in-out;
}
.mainContainer:first-of-type {
    background-color: var(--background-sub-color);
}
.mainContainer:nth-of-type(2) {
    border-radius: 0px 100px 0px 100px;
    background-color: var(--background-private-color);
}
.mainContainer:nth-of-type(2)::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: var(--background-sub-color);
    z-index: -1;
}
.mainContainer:nth-of-type(3) {
    background-color: var(--background-sub-color);
}
.mainContainer:last-of-type {
    border-radius: 0px 100px 0px 100px;
    background-color: var(--background-private-color);
}
.mainContainer:last-of-type::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: var(--background-sub-color);
    z-index: -1;
}
@media screen and (max-width: 576px) {
    .mainContainer {
        padding: 0px;
    }
    .mainContainer:nth-of-type(2) {
        border-radius: 0px 50px 0px 50px;
    }
	.mainContainer:last-of-type {
        border-radius: 0px 50px 0px 50px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Container Title */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.containerTitle {
    display: flex;
    flex-direction: column;
}
.containerTitle > h1 {
    font-size: 56px;
    font-family: Nunito Sans;
    font-weight: 300;
    color: var(--logo-blue-color);
}
@media screen and (max-width: 576px) {
    .containerTitle > h1 {
        text-align: center;
    }
}
.containerTitle > h2 {
	font-family: Nunito Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.containerTitle > h2 + p {
	font-family: Nunito Sans;
    font-size: 21px;
    text-align: center;
}
.containerTitle > h3 {
    margin: 0px 0px var(--space-16) 0px;
	font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: var(--perfect-white-color);
}
.containerTitle > h3 + p {
    font-family: Nunito Sans;
    font-size: 21px;
    text-align: center;
    color: var(--perfect-white-color);
}
.containerTitle > h3 + p + [class*="action"] {
    margin: var(--space-24) auto 0px auto;
    width: fit-content;
}
.containerTitle > h4 {
    font-family: Nunito Sans;
    font-size: 42px;
    font-weight: 700;
    text-align: left;
}
.containerTitle > h5 {
    font-family: Nunito Sans;
    font-size: 42px;
    font-weight: 700;
    text-align: left;
}
.containerTitle > h6 {
    font-family: Nunito Sans;
    font-size: 42px;
    font-weight: 700;
    text-align: left;
}
.containerTitle > h6 + p {
    font-family: Nunito Sans;
    font-size: 21px;
    text-align: left;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.header {
    display: flex;
}
@media screen and (max-width: 992px) {
    .header {
        flex-direction: column;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header's Right Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerRightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 350px;
    max-height: 400px;
    margin: 0px 0px 0px var(--space-24);
    border: var(--border-1);
    border-width: var(--space-16);
    border-radius: var(--radius-15);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .headerRightContainer {
        display: none;
    }
}
.headerRightContainer > img {
    object-fit: cover;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header's Left Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerLeftContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
@media screen and (max-width: 992px) {
    .headerLeftContainer {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .headerLeftContainer {
        flex-direction: column;
        max-width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header Actions */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerActions {
    display: flex;
    flex-direction: column;
}
.headerActions > [class*="action"] {
    flex-direction: row-reverse;
    justify-content: space-between;
}
.headerActions > [class*="action"] + [class*="action"] {
    margin-top: var(--space-16);
}
@media screen and (max-width: 576px) {
    .headerActions > [class*="action"] {
        margin: auto;
    }
    .headerActions > [class*="action"]:hover {
        transform: scale(1);
    }
}
.headerActions > [class*="action"] > i {
    margin: 0px 0px 0px var(--space-8);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Story Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.storySection {
    display: flex;
}
.storySection > div {
    flex: 1;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Story */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.story {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: var(--space-32) var(--space-16);
    border: var(--border-1);
    border-radius: var(--radius-15);
    background-color: var(--background-main-color);
}
.story > p {
    color: var(--text-placeholder-color);
    font-style: italic;
}
.story > p + p {
    margin: var(--space-16) 0px 0px 0px;
}
.story > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    color: var(--logo-blue-color);
    font-size: 30px;
    border-radius: var(--radius-25);
    background-color: var(--pale-blue-color);
}
.story > i:first-of-type {
    top: calc(-50px / 2);
}
.story > i:last-of-type {
    right: 16px;
    bottom: calc(-50px / 2);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Story Picture */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.storyPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.storyPicture > img {
    width: 370px !important;
    height: auto !important;
    margin: -74px 0px;
    position: inherit !important;
}
@media screen and (max-width: 992px) {
    .storyPicture,
    .storyPicture > img {
        display: none;
    }
}