/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Pagination ( Container ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    flex: 1;
}
.container > p {
    color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Pagination ( Actions ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    flex: 1;
}
.actions > button:last-child {
    flex-direction: row-reverse;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Pagination ( Type Page ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.typePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typePage > .custom {
    position: absolute;
    bottom: calc(100% + 8px);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.typePage > .custom input {
    padding: 8px;
    text-align: center;
}