/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Main Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.mainContainer {
	display: flex;
	flex-direction: column;
    flex: 1;
    padding: calc(50px - var(--space-16));
	transition: border-radius 0.3s ease-in-out;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Categories */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: skew(-15deg);
    border-radius: var(--radius-15);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.categories > [class*="action"] > span {
    white-space: nowrap;
}
.categories > [class*="action"] {
    flex: 1;
    padding: var(--space-8);
    border-right: var(--border);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Catch */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.catch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catch > h1 {
    margin: 0px 0px var(--space-16) 0px;
    font-size: 36px;
    font-family: "Nunito Sans";
    color: var(--logo-blue-color);
    text-transform: uppercase;
    text-align: center;
}
.catch > p {
    color: var(--text-placeholder-color);
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Actions */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.actions {
    display: flex;
    flex-wrap: wrap;
}
.actions > * {
    margin: var(--space-8) var(--space-8) 0px 0px;
}
.actions > *:last-of-type {
    margin: var(--space-8) 0px 0px 0px;
}