/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Main Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.mainContainer {
	display: flex;
	flex-direction: column;
    flex: 1;
    padding: calc(50px - var(--space-16));
	transition: border-radius 0.3s ease-in-out;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Categories */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--space-8) var(--space-16) var(--space-16) var(--space-16);
    border-radius: var(--radius-15);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.categories > a > span {
    white-space: nowrap;
}
.categories > * {
    margin: var(--space-8) var(--space-8) 0px 0px;
}
.categories > *:last-of-type {
    margin: var(--space-8) 0px 0px 0px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Catch */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.catch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catch > h1 {
    margin: 0px 0px var(--space-16) 0px;
    font-size: 36px;
    font-family: "Nunito Sans";
    color: var(--logo-blue-color);
    text-transform: uppercase;
    text-align: center;
}
.catch > p {
    color: var(--text-placeholder-color);
    text-align: center;
}