/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Main Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.mainContainer {
	display: flex;
	flex-direction: column;
    flex: 1;
    padding: calc(50px - var(--space-16));
	transition: border-radius 0.3s ease-in-out;
}
.mainContainer:first-of-type {
    border-radius: 0px 0px 100px 0px;
    background-color: var(--light-red-color);
}
.mainContainer:nth-of-type(2) {
    border-radius: 100px 0px 0px 100px;
    background-color: var(--background-main-color);
}
.mainContainer:nth-of-type(2)::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: var(--light-red-color);
    z-index: -1;
}
.mainContainer:nth-of-type(3) {
    border-radius: 0px 100px 100px 0px;
    background-color: var(--light-red-color);
}
.mainContainer:nth-of-type(4) {
    border-radius: 0px;
    background-color: var(--background-main-color);
}
@media screen and (max-width: 576px) {
    .mainContainer {
        padding: 0px;
    }
    .mainContainer:first-of-type {
        border-radius: 50px 0px 50px 0px;
    }
    .mainContainer:nth-of-type(2) {
        border-radius: 50px 0px 0px 50px;
    }
	.mainContainer:nth-of-type(3) {
        border-radius: 0px 50px 50px 0px;
    }
	.mainContainer:nth-of-type(4) {
        border-radius: 0px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Container Title */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.containerTitle {
    display: flex;
    flex-direction: column;
}
.containerTitle > [class*="action"] {
    width: fit-content;
    margin: var(--space-24) auto 0px auto;
}
.containerTitle > h1 {
    font-family: Nunito Sans;
    font-size: 65px;
    font-weight: 600;
    color: var(--logo-orange-color);
}
@media screen and (max-width: 576px) {
    .containerTitle > h1 {
        text-align: center;
    }
}
.containerTitle > h2 {
	font-family: Nunito Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.containerTitle > h2 + p {
	font-family: Nunito Sans;
    font-size: 21px;
    text-align: center;
}
.containerTitle > h3 {
	font-family: Nunito Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.containerTitle > h4 {
    font-family: Nunito Sans;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.containerTitle > h5 {
    font-family: Nunito Sans;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.containerTitle > h5 + p {
    font-family: Nunito Sans;
    font-size: 21px;
    text-align: center;
}
.containerTitle > h6 {
    font-family: Nunito Sans;
    font-size: 42px;
    font-weight: 700;
    text-align: left;
}
.containerTitle > h6 + p {
    font-family: Nunito Sans;
    font-size: 21px;
    text-align: left;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.header {
    display: flex;
}
@media screen and (max-width: 992px) {
    .header {
        flex-direction: column;
    }
}
.header > div {
    flex: 1;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header's Right Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerRightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    max-height: 400px;
    margin: 0px 0px 0px var(--space-24);
    border: var(--border-1);
    border-width: var(--space-16);
    border-radius: var(--radius-15);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .headerRightContainer {
        display: none;
    }
}
.headerRightContainer > img {
    object-fit: cover;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header's Left Container */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerLeftContainer {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .headerLeftContainer {
        max-width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header Paragraphs */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerParagraphs {
    display: flex;
    flex-direction: column;
}
.headerParagraphs > p {
    font-family: Nunito Sans;
    font-size: 24px;
    color: var(--logo-orange-color);
}
.headerParagraphs > p + p {
    margin-top: var(--space-16);
}
@media screen and (max-width: 576px) {
    .headerParagraphs > p {
        text-align: center;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Header Actions */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.headerActions {
    display: flex;
    flex-direction: column;
    margin: var(--space-24) 0px 0px 0px;
}
.headerActions > [class*="action"] {
    width: fit-content;
}
.headerActions > [class*="action"] + [class*="action"] {
    margin-top: var(--space-16);
}
@media screen and (max-width: 576px) {
    .headerActions > [class*="action"] {
        margin: auto;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* How It Works */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.howItWorks {
    display: flex;
    flex-direction: column;
}
.howItWorks > div + div {
    margin: var(--space-16) 0px 0px 0px;
}
@media screen and (max-width: 992px) {
    .howItWorks > div + div {
        margin: var(--space-32) 0px 0px 0px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* How It Works Step */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.howItWorksStep {
    display: flex;
}
@media screen and (max-width: 992px) {
    .howItWorksStep {
        flex-direction: column-reverse;
    }
}
.howItWorksStep > div {
    flex: 1;
}
.howItWorksStep > div:not(.howItWorksStepSeparator) {
    margin: 0px 0px var(--space-56) 0px;
}
@media screen and (max-width: 992px) {
    .howItWorksStep > div:not(.howItWorksStepSeparator) {
        margin: 0px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* How It Works Step Picture */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.howItWorksStepPicture {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 992px) {
    .howItWorksStep:nth-of-type(2) > .howItWorksStepPicture {
        order: 1;
    }
}
.howItWorksStepPicture > img {
    width: 100%;
    object-fit: contain;
    position: inherit !important;
    border-radius: var(--radius-15);
    box-shadow: var(--box-shadow);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* How It Works Step Separator */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.howItWorksStepSeparator {
    display: flex;
    flex-direction: column;
    max-width: 40px;
    margin: 0px var(--space-16);
}
@media screen and (max-width: 992px) {
    .howItWorksStepSeparator {
        flex-direction: row-reverse;
        width: 100%;
        max-width: inherit;
        max-height: 40px;
        margin: var(--space-16) 0px;
    }
    .howItWorksStep:nth-of-type(2) > .howItWorksStepSeparator {
        order: 2;
    }
}
.howItWorksStepSeparator > [class*="line"] {
    margin: 0px auto;
    background-color: var(--logo-orange-color);
}
@media screen and (max-width: 992px) {
    .howItWorksStepSeparator > [class*="line"] {
        min-height: 1px;
        height: 1px;
        max-height: 1px;
        min-width: 20px;
        width: 100%;
        max-width: inherit;
        margin: auto 0px;
    }
}
.howItWorksStepSeparator > i {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    margin: var(--space-16) 0px 0px 0px;
    font-size: 20px;
    color: var(--logo-orange-color);
    border: var(--border-1);
    border-color: var(--logo-orange-color);
    border-radius: var(--radius-20);
    background-color: var(--light-red-color);
}
.howItWorksStep:last-of-type > .howItWorksStepSeparator > i {
    color: var(--perfect-white-color);
    background-color: var(--logo-orange-color);
}
@media screen and (max-width: 992px) {
    .howItWorksStepSeparator > i {
        margin: 0px var(--space-16) 0px 0px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* How It Works Step Text */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.howItWorksStepText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 992px) {
    .howItWorksStep:nth-of-type(2) > .howItWorksStepText {
        order: 3;
    }
}
.howItWorksStepText > p:first-of-type {
    margin: 0px 0px var(--space-16) 0px;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 700;
}
.howItWorksStepText > p:last-of-type,
.howItWorksStepText > p:last-of-type > [class*="action"] > span {
    font-size: 16px;
}
@media screen and (max-width: 576px) {
    .howItWorksStepText > p {
        text-align: center;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Badges */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.badges {
    display: flex;
    flex: 1;
}
@media screen and (max-width: 768px) {
    .badges {
        flex-direction: column;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Badge */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
@media screen and (max-width: 768px) {
    .badge + .badge {
        margin: var(--space-24) 0px 0px 0px;
    }
}
.badge > i {
    min-width: 128px;
    width: 128px;
    max-width: 128px;
    min-height: 128px;
    height: 128px;
    max-height: 128px;
    position: relative;
    font-size: 60px;
    color: var(--logo-orange-color);
    z-index: 1;
}
.badge > i::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: calc(128px / 2);
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.badge > i::after {
    width: calc(100% + var(--space-32));
    height: calc(100% + var(--space-32));
    position: absolute;
    top: -16px;
    left: -16px;
    content: "";
    background-color: var(--light-red-color);
    z-index: -1;
}
.badge > p {
    margin: var(--space-16) 0px 0px 0px;
    text-align: center;
}
.badge > p:first-of-type {
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 700;
}
.badge > p:last-of-type {
    padding: 0px var(--space-16);
}
.badge > p:last-of-type,
.badge > p:last-of-type > [class*="action"] > span {
    font-size: 16px;
}
.badge > [class*="line"] {
    position: absolute;
    top: calc((128px / 2) - var(--space-16));
    background-color: var(--logo-orange-color);
}