.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 75vh;
    position: relative;
}

.heroTitle {
    text-align: left !important;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #006dff;
    margin-top: 5.5rem;
}

.heroImg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: fit-content;
    object-fit: contain;
}

.heroDesc {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-main-color);
    font-family: "Open Sans", sans-serif;
    pointer-events: auto;
    box-sizing: border-box;
    margin: 2rem 0;
    text-align: left !important;
    width: 50%;
}

.heroLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1.5rem;
    gap: 1rem;
    width: 30%;
}

.heroLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    background-color: var(--background-sub-color);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.heroLink>span,
.heroLink>i {
    font-size: 1.2rem;
    color: var(--logo-blue-color);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    background-color: var(--page-color);
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
}

.bannerTitle,
.bannerTitle>span {
    font-family: "Nunito Sans", sans-serif;
    display: inline-block;
    font-size: clamp(2rem, 5vw, 2.8125rem);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.34px;
    color: #ffffff;
    text-align: start;
}

.bannerSubtitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.bannerParagraph {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    width: 90%;
}

.bannerBlockWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
    justify-content: space-between;
}

.bannerBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 300px;
    gap: 1rem;
}

.banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.bannerTitle2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2.8125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.34px;
    color: var(--text-main-color);
}

.bannerSubtitle2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: var(--text-main-color);
}

.bannerUnderlineTitle {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.43px;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}

.bannerImgSeating {
    position: absolute;
    width: fit-content;
    height: 400px;
    object-fit: contain;
    margin: 0;
    right: 5rem;
    bottom: -48.5%;
}

.banner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 5rem 0;
    background-color: var(--page-color);
    position: relative;
    margin: 5rem 0;
}

.banner3::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(0%, -50%);
    width: 100%;
    height: 50px;
    border-radius: 100%;
    background-color: var(--background-sub-color);
    z-index: 10;
}

.banner3::after {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translate(0%, 50%);
    width: 100%;
    height: 50px;
    border-radius: 100%;
    background-color: var(--page-color);
    z-index: 10;
}

.banner3Redirect {
    margin: 5rem auto;
    box-sizing: border-box;
    letter-spacing: 0.1px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
}

.banner3Redirect>a {
    color: #ffffff;
    text-decoration: underline;
    font-size: inherit;
}

.banner3Redirect>a:hover {
    opacity: 0.5;
}

.coloredTitle {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2.8125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.34px;
    text-align: center;
    color: var(--page-color);
}

.coloredSubtitle {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.3125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    text-align: center;
    color: var(--page-color);
}

.cardWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.card {
    width: calc(50% - 1rem);
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    margin: 0;
}

.card:hover {
    transform: translate(0, -5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.cardTitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: var(--text-main-color);
    opacity: 0.5;
    margin-bottom: 1rem;
}

.listItem {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    color: var(--text-main-color);
    margin-bottom: 1rem;
    width: calc(50% - 1rem);
}

.listItemTitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: var(--text-main-color);
    margin-bottom: 2rem;
}

.listItem ul {
    padding-left: 0;
}

.listItem ul li {
    list-style-image: url("/assets/list-style/check.svg");
    list-style-position: inside;
    margin-top: 2rem;
    align-items: center;
    font-size: 1.0625rem;
}

.listItem ul li::marker {
    color: var(--page-color);
}

.greyBanner {
    background-color: var(--background-main-color);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.bannerImgSeatingCorpo {
    position: absolute;
    width: fit-content;
    height: 400px;
    object-fit: contain;
    margin: 0;
    right: 0;
    bottom: -5rem;
    transform: translateY(32.5%);
}

.solutionsCards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
}

.solutionItem {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

.solutionTitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2px;
    text-align: center;
    color: #006dff;
}

.solutionConstraint {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    color: #595959;
}

.solutionPricing {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.22px;
    font-weight: bold;
    text-align: center;
    color: #595959;
    margin: 1rem 0;
}

.solutionFonctionnalities {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.solutionFonctionnalities li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding: 1rem 0;
}

.solutionFonctionnalities li p {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    letter-spacing: 0.4px;
    color: #595959;
}

.solutionFonctionnalities li i {
    color: var(--page-color);
    font-size: 19px;
}

.solutionSeeDetails {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    color: var(--page-color);
    cursor: pointer;
}

.solutionLabel {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -30px;
    z-index: -1;
    background: var(--background-sub-color);
    display: flex;
    color: #FFB00D;
    height: 40px;
    padding: 0 15px 10px 15px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.solutionLabel > i {
    color: #FFB00D;
    margin-right: 0.5rem;
}

.trusters {
    display: flex;
    gap: 2rem;
}

.trusterItem {
    width: calc(50% - 2rem);
    display: flex;
    flex-direction: column;
}

.trusterAvatar {
    width: 288px;
    height: 288px;
    aspect-ratio: 1/1;
    background: var(--page-color);
    margin-bottom: 2rem;
    border-radius: 100%;
    position: relative;
}

.trusterCompany {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 100%;
    border: 4px solid var(--page-color);
}

.trusterName {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.22px;
    color: var(--text-main-color)
}

.trusterJob {
    color: var(--text-main-color);
    font-family: "Open Sans", sans-serif;
    pointer-events: auto;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.1875rem;
    letter-spacing: -.01em;
    line-height: 1.45;
    margin-top: .5rem!important;
    text-align: left!important;
}

@media screen and (max-width: 991px) {
    .heroContainer {
        min-height: 110vh;
    }

    .heroTitle {
        margin-top: 2rem;
    }

    .heroDesc {
        width: 100%;
    }

    .heroLinks {
        width: 100%;
    }

    .heroImg {
        height: fit-content;
        width: 80%;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

    .bannerBlockWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .bannerWithImg {
        padding-bottom: 20rem;
    }

    .bannerImgSeating {
        height: fit-content;
        right: 50%;
        bottom: -32%;
        transform: translateX(50%);
    }
    .card, .listItem, .solutionItem, .trusterItem {
        width: 100%;
    }

    .solutionsCards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(2rem + 40px);
    }

    .trusters {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}