/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Activity ( Card ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.activity {
    display: flex;
    min-height: calc(55px + (2 * 16px));
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.activity + .activity {
    margin: 16px 0px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Activity ( Marker ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.marker {
    min-width: 8px;
    width: 8px;
    max-width: 8px;
    border-radius: 5px 0px 0px 5px;
    background-color: var(--logo-orange-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Activity ( Content ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px 16px 16px calc((55px / 2) + 16px);
    position: relative;
}
.content > img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 16px;
    right: inherit;
    bottom: inherit;
    left: calc((-55px / 2));
    border: var(--border);
    border-color: var(--perfect-white-color);
    border-width: 2px;
    border-radius: calc(55px / 2);
    box-shadow: var(--box-shadow);
}
.content > .user {
    margin: 0px 0px 16px 0px;
    font-weight: 900;
    font-family: "Nunito Sans";
    font-size: 21px;
}
.content > .time {
    margin: 0px;
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--text-inactive-color);
}
.content iframe {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}