/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Category ( Card ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    height: 100%;
    padding: 16px;
    position: relative;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.card:hover {
    transform: translate3d(0px, -8px, 0px);
}
.card > div[class*="tags"] {
    justify-content: center;
    flex: 0;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Category ( Icon ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.icon {
    width: 80px;
    height: 80px;
    padding: 16px;
    border-radius: 100%;
    background-color: var(--perfect-white-color);
}
.icon > img {
    object-fit: contain;
}
.card > i {
    font-size: 80px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Category ( Count ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 20px;
    background-color: var(--logo-blue-color);
}
.count > p {
    color: var(--perfect-white-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Category ( Name ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.name {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}