/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Card ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.startup,
.corporation,
.partner {
    display: flex;
    flex: 1;
    min-height: 320px;
    height: 100%;
    position: relative;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}
@media screen and (max-width: 1200px) {
    .startup,
    .corporation,
    .partner {
        width: 100%;
    }
}
.startup:hover,
.corporation:hover,
.partner:hover {
    transform: translate3d(0px, -8px, 0px);
}
div[class="list"] > .startup,
div[class="list"] > .corporation,
div[class="list"] > .partner {
    grid-gap: 0px;
    gap: 0px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Marker ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.marker {
    min-width: 15px;
    width: 15px;
    max-width: 15px;
    border-radius: 15px 0px 0px 15px;
}
.startup > .marker {
    background-color: var(--logo-orange-color);
}
.corporation > .marker {
    background-color: var(--logo-blue-color);
}
.partner > .marker {
    background-color: var(--logo-green-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Content ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--background-sub-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Head ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.head {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
}
div[class="list"] .head {
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 992px) {
    div[class="list"] .head {
        flex-direction: column;
        align-items: flex-start;
    }
}
.head > div[class*="tags"] {
    padding: 0px 0px 0px calc(48px + 16px);
}
div[class="list"] .head > div[class*="tags"] {
    padding: 0px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Identity ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.identity {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}
div[class*="grid"] .identity {
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 992px) {
    div[class="list"] .identity {
        flex-direction: column;
        align-items: flex-start;
    }
}
.identity > div[class*="tags"] {
    padding: 0px 0px 0px calc(48px + 16px);
}
div[class="list"] .identity > div[class*="tags"] {
    padding: 0px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Branding ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.branding {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
}
.branding > img {
    width: 48px;
    height: 48px;
    border: var(--border);
    border-width: 2px;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
}
.startup .branding > img {
    border-color: var(--logo-orange-color);
}
.corporation .branding > img {
    border-color: var(--logo-blue-color);
}
.partner .branding > img {
    border-color: var(--logo-green-color);
}
.branding > .name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Description ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.description {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px calc(48px + 16px);
}
@media screen and (max-width: 992px) {
    div[class="list"] .description {
        padding: 0px;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Entity ( Follow ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.follow {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.follow > p {
    color: var(--logo-blue-color);
}