/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Folder ( Card ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    display: flex;
    min-height: 300px;
    height: 300px;
    max-height: 300px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translate3d(0px, -8px, 0px);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Folder ( Content ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: calc(16px * 3) 0px 0px 0px;
    padding: 16px;
    position: relative;
    border-radius: 0px 10px 10px 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.card:hover > .content {
    box-shadow: var(--darker-box-shadow);
}
.content::after,
.content::before {
    width: 100px;
    height: calc(16px * 3);
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0px;
    border-radius: 10px 0px 0px 0px;
    background-color: var(--background-sub-color);
}
.content::after {
    box-shadow: var(--box-shadow);
    
}
.card:hover > .content::after {
    box-shadow: var(--darker-box-shadow);
}
.content::before {
    height: calc(16px * 4);
    bottom: calc(100% - 16px);
    z-index: 10;
}
.content > .geometry {
    width: 75px;
    height: 50px;
    position: absolute;
    bottom: calc(100% - 21.5px);
    left: calc(100px - 28.5px);
    transform: rotate(45deg);
    border-radius: 0px 40px 40px 40px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    
    z-index: 1;
}
.card:hover > .content > .geometry  {
    box-shadow: var(--darker-box-shadow);
}
.content > .geometry::before {
    width: 120%;
    height: 130%;
    position: absolute;
    content: "";
    border-radius: 40px;
    background-color: var(--background-sub-color);
    z-index: -1;
}
.content > .startups {
    display: flex;
    align-items: center;
    margin: 0px auto 8px auto;
    z-index: 1;
}
.content > .startups > div,
.content > .startups > div > img {
    min-width: 72px;
    width: 72px;
    max-width: 72px;
    min-height: 72px;
    height: 72px;
    max-height: 72px;
    margin: 0px -16px;
    border: var(--border);
    border-width: 2px;
    border-color: var(--background-sub-color);
    border-radius: 100px;
}
.content > .startups > div {
    background-color: var(--background-information-color);
}
.content > .startups > div > p {
    font-family: "Nunito Sans";
    font-size: 21px;
}
.content > h5 {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}