/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Login ( Card ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 16px;
    border-radius: 40px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.card > div + div {
    margin: 16px 0px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Login ( Head ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.head {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0px 16px;
}
.head > h2 {
    font-size: 20px;
    font-weight: bold;
}
.head > p {
    color: var(--text-inactive-color);
}
.head > p > a {
    color: var(--logo-blue-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    
}
.head > p > a:hover {
    text-decoration-color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Login ( Body ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.body {
    padding: 1rem;
    flex: 1 1 auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Login ( Footer ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer {
    padding: 1rem;
    flex: 1 1 auto;
}
.footer > div {
    display: flex;
    flex-wrap: wrap;
}
.footer > div > a {
    color: var(--logo-blue-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    
}
.footer > div > a:hover {
    text-decoration-color: var(--logo-blue-color);
}