/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Card ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.member {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.member + .member {
    margin: 16px 0px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Main Container ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.main {
    display: flex;
    width: 100%;
    position: relative;
}
.main > i,
.main > img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    width: 80px;
    max-width: 80px;
    min-height: 80px;
    height: 80px;
    max-height: 80px;
    font-size: 30px;
    color: var(--perfect-white-color);
    border-radius: calc(80px / 2);
    background-color: var(--logo-blue-color);
}
.main > .identity {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 16px;
}
.main > .identity > div > .fullname {
    width: 100%;
    max-width: 312px;
    padding: 0px 56px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main > .identity > .job {
    margin: 8px 0px 0px 0px;
    color: var(--text-inactive-color);
    text-transform: capitalize;
}
.main > button:first-of-type,
.main > button:last-of-type {
    position: absolute;
}
.main > button:first-of-type {
    top: 0;
    right: 0;
}
.main > button:last-of-type {
    right: 0;
    bottom: 0;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Details ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.details {

}