/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Card ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Main ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.main {
    display: flex;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
    padding: 0px 86px 0px 0px;
    position: relative;
}
.main > i,
.main > img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    width: 80px;
    max-width: 80px;
    min-height: 80px;
    height: 80px;
    max-height: 80px;
    font-size: 30px;
    color: var(--perfect-white-color);
    border-radius: calc(80px / 2);
    background-color: var(--logo-blue-color);
}
.main > button:first-of-type,
.main > button:last-of-type {
    position: absolute;
}
.main > button:first-of-type {
    top: 0;
    right: 0;
}
.main > button:last-of-type {
    right: 0;
    bottom: 0;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Identity ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.identity {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
}
.identity > .fullname {
    width: 100%;
    max-width: 312px;
    padding: 0px 56px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.identity > .job {
    color: var(--text-inactive-color);
    text-transform: capitalize;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Member ( Details ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* .details {

} */