/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Product ( Card ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.card:hover {
    transform: translate3d(0px, -8px, 0px);
}
@media screen and (max-width: 1200px) {
    .card {
        width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Product ( Banner ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.banner {
    width: 100%;
    height: 128px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--background-sub-color);
    overflow: hidden;
}
.banner > img {
    min-height: 128px;
    height: 128px;
    max-height: 128px;
}
.banner > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: 600;
    color: var(--perfect-white-color);
    text-transform: uppercase;
    border-radius: 100px;
    background-color: var(--logo-blue-color);
    z-index: 1;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Product ( Content ) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.content {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    padding: 16px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--background-sub-color);
}
.content > .type {
    font-size: 12px;
    font-style: italic;
    color: var(--text-inactive-color);
}
.content > .name {
    margin: 0px;
    font-weight: bold;
    font-size: 21px;
    font-family: "Nunito Sans";
}