/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Card ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    position: relative;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.card:hover {
    transform: translate3d(0px, -8px, 0px);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Banner ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.banner {
    display: flex;
    min-height: 192px;
    height: 192px;
    max-height: 192px;
    position: relative;
}
.banner > img {
    border-radius: 15px 15px 0px 0px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( actions ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.actions {
    display: flex;
    justify-content: space-between;
    grid-gap: 16px;
    gap: 16px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
@media screen and (max-width: 992px) {
    .actions {
        top: 16px;
        bottom: inherit;
    }
}
.actions > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    height: 100%;
}
.actions > div > p {
    font-size: 11px;
    font-weight: 600;
    color: var(--logo-blue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Body ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.body {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 992px) {
    .body {
        flex-direction: column;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Pictures ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.picture {
    display: flex;
    justify-content: center;
    min-width: calc(120px + (2 * 16px));
    width: calc(120px + (2 * 16px));
    max-width: calc(120px + (2 * 16px));
    position: relative;
}
@media screen and (max-width: 992px) {
    .picture {
        margin: 0px auto;
    }
}
.picture > img {
    min-width: 120px;
    width: 120px;
    min-height: 120px;
    height: 120px;
    position: absolute;
    top: calc(-120px / 2);
    object-fit: cover;
    border: var(--border);
    border-width: 3px;
    border-color: var(--background-sub-color);
    border-radius: 60px;
    box-shadow: var(--box-shadow);
}
.picture > button {
    margin: calc((120px / 2) + 16px) auto 16px auto;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Content ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    width: calc(100% - (120px + (2 * 16px)));
    padding: 16px 16px 16px 0px;
}
@media screen and (max-width: 992px) {
    .content {
        width: 100%;
        padding: 16px;
    }
}
.content > h3 {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Informations ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.informations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 24px;
    gap: 24px;
}
.informations > div {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}
.informations > div > p {
    margin: 0px;
    font-size: 14px;
}
.informations > div > a {
    font-weight: bold;
    color: var(--logo-blue-color);
    text-decoration: underline;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Stats ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.stats {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    gap: 24px;
}
.stats > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats > div > p {
    margin: 0px;
}
.stats > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}
.stats > div > div > i {
    font-size: 26px;
}
.stats > div > div > p:not(.label) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 800;
}
.stats > div > div[class="locked"] > p {
    font-weight: 200;
    color: var(--logo-blue-color);
    background-color: var(--pastelblue-color);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Note ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.note {
    padding: 16px;
}
.note > p {
    margin: 0px;
    font-size: 16px;
}