/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Card ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Banner ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.banner {
    display: flex;
    min-height: 192px;
    height: 192px;
    max-height: 192px;
    position: relative;
}
.banner > img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( actions ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.actions {
    display: flex;
    justify-content: space-between;
    height: 72px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
@media screen and (max-width: 990px) {
    .actions {
        top: 16px;
        bottom: inherit;
    }
}
.actions > * + * {
    margin: 0px 0px 0px 16px;
}
.actions > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.actions > div > p {
    margin: 0px;
    font-size: 11px;
    font-weight: 600;
    color: var(--logo-blue-color);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Body ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.body {
    display: flex;
    flex: 1;
}
@media screen and (max-width: 990px) {
    .body {
        flex-direction: column;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Pictures ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.picture {
    display: flex;
    justify-content: center;
    min-width: calc(120px + (2 * 16px));
    width: calc(120px + (2 * 16px));
    max-width: calc(120px + (2 * 16px));
    position: relative;
}
@media screen and (max-width: 990px) {
    .picture {
        margin: 0px auto;
    }
}
.picture > img {
    min-width: 120px;
    width: 120px;
    min-height: 120px;
    height: 120px;
    position: absolute;
    top: calc(-120px / 2);
    object-fit: cover;
    border: var(--border);
    border-width: 3px;
    border-color: var(--background-sub-color);
    border-radius: 60px;
    box-shadow: var(--box-shadow);
}
.picture > button {
    margin: calc((120px / 2) + 16px) auto 16px auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Content ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - (120px + (2 * 16px)));
    padding: 16px 16px 16px 0px;
}
@media screen and (max-width: 990px) {
    .content {
        width: 100%;
        margin-top: calc(120px / 2);
        padding: 16px;
    }
}
.content > h3 {
    margin: 0px auto 8px 0px;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 800;
}
.content > .informations {
    display: flex;
    align-items: center;
    margin: 0px auto 8px 0px;
}
.content > .informations > * + * {
    margin: 0px 0px 0px 24px;
}
.content > .informations > div {
    display: flex;
    align-items: center;
}
.content > .informations > div > i {
    padding: 0px 8px 0px 0px;
}
.content > .informations > div > p {
    margin: 0px;
    font-size: 14px;
}
.content > .informations > div > a {
    font-weight: bold;
    color: var(--logo-blue-color);
    text-decoration: underline;
    transition: color 0.3s ease;
}
.content > .description {
    margin: 0px 0px 8px 0px;
}
.content > .description > p {
    margin: 0px;
}
.content > .stats {
    display: flex;
}
.content > .stats > * + * {
    margin: 0px 0px 0px 16px;
}
.content > .stats > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content > .stats > div > p {
    margin: 0px;
}
.content > .stats > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}
.content > .stats > div > div > i {
    font-size: 26px;
}
.content > .stats > div > div > p:not(.label) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 800;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Profile ( Note ) */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.note {
    padding: 16px;
}
.note > p {
    margin: 0px;
    font-size: 16px;
}