/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Testimonial ( Card ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--background-sub-color);
    box-shadow: var(--box-shadow);
}
.card:hover {
    transform: translate3d(0px, -8px, 0px);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Testimonial ( Pictures ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.pictures > .main {
    min-width: 260px;
    width: 260px;
    max-width: 260px;
    min-height: 260px;
    height: 260px;
    max-height: 260px;
}
.pictures > .sub {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: var(--border);
    border-width: 2px;
    border-color: var(--logo-blue-color);
}
.pictures > img {
    border-radius: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Testimonial ( Identity ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.identity > h4 {
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: bold;
}
.identity > h5 {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 300;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Testimonial ( Testimonial ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.testimonial {
    display: flex;
    flex: 1;
}