/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Menu ( Profile ) */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.menu {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 990px) {
    .menu {
        display: none;
    }
}
.menu > .label {
    margin: 0px 0px 8px 0px;
    font-size: 12px;
    font-style: italic;
    color: var(--text-inactive-color);
}
.menu > ul {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    margin: 0px 0px 0px 16px
}
.menu > ul > li > a {
    position: relative;
    font-size: 16px;
    color: var(--text-main-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    
}
.menu > ul > li > a:hover,
.menu > ul > li > a.active {
    font-weight: bold;
    text-decoration-color: var(--text-main-color);
}
.menu > ul > li > a::before {
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    top: 50%;
    left: calc(-8px + -8px);
    transform: translateY(-50%);
    opacity: 0;
    border-radius: calc(8px / 2);
    background-color: var(--logo-blue-color);
    
}
.menu > ul > li > a:hover::before,
.menu > ul > li > a.active::before {
    opacity: 1;
}